@import "variables";

:host {
    flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу

.postPage {

    margin-top: 20px;
    margin-bottom: 50px;

    .postPage__container {
        display: flex;
        flex-direction: column;
    }

    @media #{$notMobile} {
        margin-top: 34px;
        margin-bottom: 140px;

        .postPage__container {
            flex-direction: row;
        }
    }
}

.authorCard {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
    background-color: var(--color-gray1);
    padding: 12px 26px 12px 12px;
    border-radius: 20px;
    .authorCard__cont {
        display: flex;
        flex: 1;
        align-items: center;
        .authorCard__photo {
            width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 12px;
            .authorCard__img {
                max-width: 100%;
            }
        }
        .authorCard__about {
            flex: 1;
            margin-left: 12px;
            .authorCard__name {
                font-weight: 700;
            }
            .authorCard__profi {
                font-size: 12px;
            }
        }
    }
    .authorCard__arrow {
        width: 12px;
        height: 12px;
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: left center;
        background-image: url('../../assets/icons/arrowForAuthor.svg');
    }
}

.sidebar {
    // margin-right: 8%;
    flex: 1;
    // max-width: 360px;
    margin-bottom: 72px;

    .sidebar__authorList {
        display: none;
        margin-top: 24px;

        .sidebar__author {
            margin-top: 16px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;

        .sidebar__authorList {
            display: block;
        }
    }
}

.goBackBtn {
    margin-bottom: 24px;
    display: flex;
}

.postTitle {
    .postTitle__img {
        background-color: var(--color-light-gray);
        min-height: 200px;
        border-radius: 32px;
        overflow: hidden;
        // max-width: 360px;
        margin-top: 24px;

        img {
            max-width: 100%;
        }
    }

    @media #{$notMobile} {
        .postTitle__details {
            display: none;
        }
    }
}

.pageContent {
    flex: 2;

    .postContent {
        .postContent__details {
            display: none;
            margin-bottom: 24px;
        }
        .postContent__text {
            line-height: 24px;
        }
        .postContent__feedback {
            margin-top: 24px;
        }

        .postContent__authorList {
            margin-top: 16px;
            .postContent__author {
                margin-top: 16px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    @media #{$notMobile} {
        .postContent {
            .postContent__details {
                display: flex;
            }
            .postContent__authorList {
                display: none;
            }
        }
    }
}

.postDetails {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-text-gray);
    .postDetails__info {
        margin-left: 13px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 2.5px;
            height: 2.5px;
            border-radius: 50%;
            background-color: var(--color-text-gray);
            top: 50%;
            left: 0;
            transform: translate(-7px, -50%);
        }

        &:first-child {
            margin: 0;
            &:before {
                display: none;
            }
        }
    }
}

::ng-deep {
    .articleParagraph {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .articleHeader {
        display: block;
        font-weight: 700;
        margin-bottom: 16px;
        margin-top: 32px;
    }
    .articleList {
        padding-left: 24px;
    }
    .articleListItem {
        list-style: decimal;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}