@import "variables";

:host {
    flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу

.page {

    margin-top: 20px;
    margin-bottom: 50px;

    .page__container {
        display: flex;
        flex-direction: column;
    }

    @media #{$notMobile} {
        margin-top: 34px;
        margin-bottom: 140px;

        .page__container {
            flex-direction: row;
        }
    }
}

.sidebar {
    // margin-right: 8%;
    flex: 1;
    // max-width: 360px;
    margin-bottom: 72px;

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

.goBackBtn {
    margin-bottom: 24px;
    display: flex;
}

.postTitle {
    .postTitle__img {
        background-color: var(--color-text-gray);
        min-height: 200px;
        border-radius: 32px;
        overflow: hidden;
        max-width: 360px;
        margin-top: 48px;

        img {
            max-width: 100%;
        }
    }

    @media #{$notMobile} {
        .postTitle__details {
            display: none;
        }
    }
}

.pageContent {
    flex: 2;

    .postContent {
        .postContent__details {
            display: none;
            margin-bottom: 24px;
        }
        .postContent__text {
            line-height: 24px;
        }
        .postContent__feedback {
            margin-top: 24px;
        }
    }

    @media #{$notMobile} {
        .postContent {
            .postContent__details {
                display: flex;
            }
        }
    }
}

.postDetails {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-text-gray);
    .postDetails__info {
        margin-left: 11px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--color-text-gray);
            top: 50%;
            left: 0;
            transform: translate(-7px, -50%);
        }

        &:first-child {
            margin: 0;
            &:before {
                display: none;
            }
        }
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    row-gap: 14px;
    align-items: center;
    background-color: var(--color-white);
    padding: 24px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-weight: 700;

    .feedback__values {
        display: flex;
        column-gap: 24px;

        &--disabled {
            .feedbackVal {
                cursor: default;
            }
        }
    }

    @media #{$notMobile} {
        flex-direction: row;
        justify-content: space-between;
    }
}

.feedbackVal {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    .feedbackVal__icon {
        width: 27px;
        height: 27px;

        img, svg {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .feedbackVal__amount {
        color: var(--color-text-gray);
    }

    &--leftItem {
        flex-direction: row-reverse;
    }

    &--active {
        cursor: default;
        transform: scale(1.2);
        .feedbackVal__amount {
            color: var(--color-red);
        }
        .feedbackVal__icon {
            svg path {
                fill: var(--color-red);
            }
        }
    }

    @media #{$notMobile} {
        &--leftItem {
            flex-direction: row;
        }
    }
}

.feedbackVal--active.feedbackVal--like {
    .feedbackVal__amount {
        color: var(--color-green);
    }
    .feedbackVal__icon {
        svg path {
            fill: var(--color-green);
        }
    }
}

::ng-deep {
    .articleParagraph {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .articleHeader {
        display: inline-block;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .articleList {
        padding-left: 24px;
    }
    .articleListItem {
        list-style: decimal;
    }
}