<header class="header">
    <div class="container header__container">
        <div class="header__col">
            <a routerLink="/" class="logoInHeader">
                <img class="logoInHeader__image forLightTheme" src="assets/images/fullLogo.svg" alt="logo">
                <img class="logoInHeader__image forDarkTheme" src="assets/images/fullLogoDark.svg" alt="logo">
                <picture class="forSystemTheme">
                    <source srcset="assets/images/fullLogo.svg" media="(prefers-color-scheme: light)">
                    <source srcset="assets/images/fullLogoDark.svg" media="(prefers-color-scheme: dark)">
                    <img class="logoInHeader__image" src="assets/images/fullLogo.svg" alt="logo">
                </picture>
            </a>
        </div>
        <div class="header__col header__col--alignRight">
            @if (0) {
                <ul class="themeToggleOld">
                    <li class="themeToggleOld__item">
                        <button
                            class="themeToggleOld__btn"
                            [ngClass]="{ 'themeToggleOld__btn--active': colorSchemeService.currentActive() === themeTypes.Light }"
                            (click)="setColorTheme(themeTypes.Light)"
                        >
                            Светлая
                        </button>
                    </li>
                    <li class="themeToggleOld__item">
                        <button
                            class="themeToggleOld__btn"
                            [ngClass]="{ 'themeToggleOld__btn--active': colorSchemeService.currentActive() === themeTypes.Dark }"
                            (click)="setColorTheme(themeTypes.Dark)"
                        >
                            Темная
                        </button>
                    </li>
                    <li class="themeToggleOld__item">
                        <button
                            class="themeToggleOld__btn"
                            [ngClass]="{ 'themeToggleOld__btn--active': colorSchemeService.currentActive() === themeTypes.System }"
                            (click)="setColorTheme(themeTypes.System)"
                        >
                            OS
                        </button>
                    </li>
                </ul>
            }
            <div class="header__menu">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"
                            [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="menu__item--active"
                        >
                            <a class="menu__link" routerLink="/">Приложение</a>
                        </li>
                        <li class="menu__item" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/media">Медиа</a>
                        </li>
                        <li class="menu__item"
                            routerLinkActive="menu__item--active"
                            [routerLinkActiveOptions]="routerLinkActiveOptions"
                            #rla="routerLinkActive"
                        >
                            <a class="menu__link" routerLink="/locations" queryParamsHandling="merge">Локации</a>
                        </li>
                        <li class="menu__item" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/partnership">Для бизнеса</a>
                        </li>
                        <li class="menu__item" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/company">О нас</a>
                        </li>
                        <!-- <li class="menu__item">
                            <a class="menu__link" [routerLink]="['/admin', 'dashboard']">Админка</a>
                        </li> -->
                        <!-- <li class="menu__item">
                            <button (click)="getAmountOfUserVisits()">
                                Кол-во визитов
                            </button>
                        </li> -->
                    </ul>
                </nav>
                <!-- <button class="themeToggle header__theme" (click)="goToAnotherTheme()">
                    <img class="themeToggle__img"
                        [ngClass]="{ 'themeToggle__img--active': colorSchemeService.currentActive() === themeTypes.Dark }"
                        src="assets/icons/lightThemeIcon.svg"
                        alt="light"
                    >
                    <img class="themeToggle__img"
                        [ngClass]="{ 'themeToggle__img--active': colorSchemeService.currentActive() === themeTypes.Light }"
                        src="assets/icons/darkThemeIcon.svg"
                        alt="dark"
                    >
                </button> -->
                <dz-theme-toggle class="header__theme"></dz-theme-toggle>
            </div>
            <!-- <div class="languageInHeader">
                <app-dropdown-field
                    [formControl]="myForm.get('language')"
                    (ngModelChange)="onChangeLang($event)"
                    [options]="langFieldOptions"
                    [multiple]="false"
                    optionLabel="value">
                </app-dropdown-field>
            </div> -->
            <!-- <button (click)="openNavPopup()" class="hamburger">
                <div class="hamburger__line"></div>
            </button> -->
            <button (click)="openNavPopup()" class="hamburger2">
                <div class="hamburger2__line"></div>
            </button>
        </div>
    </div>
    <div class="shadow"></div>
</header>