@import "variables";

.post {
    cursor: pointer;

    .post__img {
        margin-bottom: 18px;
        background-color: var(--color-text-gray);
        min-height: 200px;
        border-radius: 32px;
        max-width: 360px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    .post__details {
        margin-bottom: 4px;
    }

    .post__title {
        font-size: 24px;
        font-weight: 500;
    }

    &:hover {
        .post__title {
            color: var(--color-blue1);
        }
    }

    @media #{$notMobile} {
        .post__img {
            margin-bottom: 24px;
        }
    }
}

.postDetails {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-text-gray);
    .postDetails__info {
        margin-left: 10px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--color-text-gray);
            top: 50%;
            left: 0;
            transform: translate(-6px, -50%);
        }

        &:first-child {
            margin: 0;
            &:before {
                display: none;
            }
        }
    }
}