<!-- <p>Статья "{{postData.id}}" на тему "{{postData.title}}"" works!</p>
<img [src]="postData.imageUrl" alt=""> -->

<div class="post">
    <div class="post__img">
        <ng-container *ngIf="postData.imageUrl; else defaultPostImg">
            <img [src]="postData.imageUrl" loading="lazy" alt="Картинка статьи">
        </ng-container>
    </div>
    <div class="post__details postDetails">
        <div class="postDetails__info">{{postData.published | date:'dd&nbsp;MMMM&nbsp;yyyy':'':'ru'}}</div>
        <div *ngIf="postData.viewCount" class="postDetails__info">{{postData.viewCount}} {{buildViewCount(postData.viewCount)}}</div>
    </div>
    <div class="post__title">
        {{postData.title}}
    </div>
</div>

<ng-template #defaultPostImg>
    <img src="assets/images/postImg.png" alt="Картинка статьи">
</ng-template>
