:root {
    --color-main-bg: #fff;
    --color-second-bg: #f2f3f4;
    --color-modal-bg: #fff;
    --color-feedback-block-bg: #f2f3f4;
    --color-hover-blue: #4A4AC6;
    --color-arrow-go-back-btn: #333;
    --color-gradient-bg-before: #fff;
    --color-gradient-bg-after: #f2f3f4;
    --color-anchor-line: #f2f3f4;
    --color-anchor-active-line: #333;
    --color-legal-doc-link: #f2f3f4;
    --image-filter-brightness: none;
    --color-theme-toggle: #333;
    --color-app-advantage-bg: #e7e8e9;
}

@mixin constForDarkTheme() {
    --color-main-bg: #212121;
    --color-second-bg: #333;
    --color-modal-bg: #212121;
    --color-feedback-block-bg: #333;
    --color-hover-blue: #7070ff;
    --color-arrow-go-back-btn: #efefef;
    --color-gradient-bg-before: #212121;
    --color-gradient-bg-after: #333;
    --color-anchor-line: #333;
    --color-anchor-active-line: #efefef;
    --color-legal-doc-link: #333;
    --image-filter-brightness: brightness(70%);
    --color-theme-toggle: #efefef;
    --color-app-advantage-bg: #333;
}

@media (prefers-color-scheme: dark) {
    :root.color-scheme-system {
        @include constForDarkTheme;
    }
}

:root.color-scheme-dark {
    @include constForDarkTheme;
}