:root {
    --color-blue: #5532EB;
    --color-pink: #FF99EC;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #807d7d;
    --color-red: #e40038;
}

$color-main: #5532EB;

// breakpoints variables
$mobile: "(max-width: 767px)";
$notMobile: "(min-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$laptop: "(min-width: 1025px) and (max-width: 1280px)";
$desktop: "(min-width: 1281px)";