@import "variables";
$spacingVal: 20px; // важно соблюдать эту зависимость чтоб не появился горизонт скролл изза отрицательного margin у "pageContent__locationsList"

:host {
    // flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу. UPD: теперь эту роль выполняет contentWrapper

.page {
    font-family: "Nunito", "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
    .page__container {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        // margin-bottom: 50px;
    }

    @media #{$notMobile} {
        .page__container {
            flex-direction: row;
            padding: 0 $spacingVal;
            margin-top: 40px;
            // margin-bottom: 140px;
        }
    }
}

// :host-context(.pageWrap--headerAndFooterFixed) {
//     .page {
//         max-height: 100%;
//         overflow: scroll;
//     }
// }

.sidebar {
    display: none;
    flex: 1;
    margin-bottom: 24px;

    &--forMobile {
        display: block;
    }

    @media #{$notMobile} {
        display: block;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;

        &--forMobile {
            display: none;
        }
    }
}

.hiddenInMobile {
    @media #{$mobile} {
        display: none;
    }
}

.aboutPage {
    .aboutPage__text {
        margin-top: 12px;
        line-height: 1.5;
    }
    .aboutPage__links {
        margin-top: 24px;
        &--forDesktop {
            display: none;
        }
        &--forMobile {
            display: block;
        }
    }
    .aboutPage__btn {
        margin-top: 24px;
    }

    @media #{$notMobile} {
        position: sticky;
        margin-bottom: 20px;
        margin-top: 8px;
        top: 0px;
        .aboutPage__links {
            &--forDesktop {
                display: block;
            }
            &--forMobile {
                display: none;
            }
        }
    }
}

.pageContent {
    position: relative;
    flex: 2;
    margin-bottom: 32px;

    .pageContent__allAboutLocations {
        &--withGradientEffect {
            mask-image: linear-gradient(0deg, transparent, #000 400px);
        }
    }

    // .pageContent__allAboutLocations {
    //     position: relative;
    //     padding-top: 76px;
    // }

    // .pageContent__filterBar {
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     z-index: 10;
    // }

    // .filterBarWrapper {
    //     .filterBarWrapper__container {
    //         .filterBarWrapper__fakeSidebar {
    //             display: none;
    //         }
    //     }
    //     &--position--fixed {
    //         pointer-events: none;
    //         position: fixed;
    //         left: 0;

    //         .filterBarWrapper__container {
    //             margin: 0 auto;
    //             max-width: 1240px;
    //             padding: 0 20px;
    //             display: flex;

    //             .filterBar {
    //                 pointer-events: auto;
    //                 flex: 1;
    //             }
    //         }

    //         @media #{$notMobile} {
    //             .filterBarWrapper__container {
    //                 .filterBarWrapper__fakeSidebar {
    //                     // pointer-events: auto;
    //                     display: block;
    //                     flex: 1;
    //                     max-width: 360px;
    //                     margin-right: 8%;
    //                 }
    //                 .filterBar {
    //                     flex: 2;
    //                 }
    //             }
    //         }
    //     }
    // }

    .pageContent__locationsBlock {
        margin-bottom: 48px;
        .pageContent__locationsCity {
            display: flex;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .pageContent__locationsList {
            display: flex;
            flex-direction: column;
            row-gap: 32px;

            .pageContent__locationsItem {
                .pageContent__locationLink {
                    &--disabled {
                        pointer-events: none;
                    }
                }
            }
        }
        &--last {
            margin-bottom: 0px;
        }
    }

    .pageContent__toAnotherLocations {
        margin-top: 32px;
    }

    @media #{$notMobile} {
        margin-bottom: 48px;
        .pageContent__locationsBlock {
            .pageContent__locationsList {
                flex-wrap: wrap;
                flex-direction: row;
                // column-gap: 24px;
                row-gap: 48px;
                // justify-content: space-between;
                margin-right: -$spacingVal;

                .pageContent__locationsItem {
                    // width: 28%;
                    // flex-basis: calc(33% - 15px);
                    width: 33.33%;
                    padding-right: $spacingVal;

                    // &:nth-child(3n) {
                    //     padding-right: unset;
                    // }
                    // &:last-child {
                    //     padding-right: unset;
                    // }
                }
            }
        }
        .pageContent__toAnotherLocations {
            margin-top: 48px;
        }
    }

    .gradientForLocationLoading {
        position: absolute;
        height: 400px;
        width: 100%;
        bottom: 0px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    }
}

.categoryCodes {
    margin-bottom: 8px;
    overflow: scroll;
    .categoryCodes__list {
        overflow: hidden;
        display: inline-flex;
        column-gap: 12px;
        .categoryCodes__item {
            .categoryCodes__btn {
                color: var(--color-black1);
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                padding: 8px 16px;
                border-radius: 12px;
                border: 0px;
                cursor: pointer;
                background-color: var(--color-gray1);
                text-wrap: nowrap;

                &--active {
                    cursor: default;
                    background-color: var(--color-black1);
                    color: var(--color-gray1);
                }

                &[disabled] {
                    opacity: .3;
                    cursor: not-allowed;
                }
            }
        }
    }
    .categoryCodes__skeletonLoader {
        background-color: transparent;
        &:before {
            background-color: transparent;
        }
    }
    &--withSkeleton {
        .categoryCodes__list {
            position: relative;
            .categoryCodes__item .categoryCodes__btn {
                background-color: #eee;
                color: #eee;
                &[disabled] {
                    opacity: 1;
                }
            }
        }
        .skeletonLoader {
            display: block;
        }
    }
    @media #{$notMobile} {
        margin-bottom: 16px;
    }
}

.stickyBar {
    position: sticky;
    z-index: 30;
    top: 0;
    margin-bottom: 20px;
    background-color: var(--color-white);
    padding: 8px 0px 4px;

    &--withLoading {
        position: relative;
    }

    @media #{$notMobile} {
        padding: 8px 0px;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 100%;
    //     left: 0px;
    //     width: 100%;
    //     height: 20px;
    //     background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    // }
}

.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // backdrop-filter: blur(4px); // фильтр накладывается на фон элемента
    // filter: blur(4px); // фильтр накладывается на сам элемент
    // background: filter(url(path/to/img.jpg), blur(5px)); // есть еще такой вариант

    line-height: 24px;

    .filterBar__length {
        color: var(--color-text-gray);
        font-weight: 700;
        padding: 8px 0px;
        position: relative;
        overflow: hidden;
    }
    .filterBar__controls {
        display: flex;
        align-items: center;
        margin-right: -16px;
        .filterBar__item {
            position: relative;
            // margin-right: 8px;
            // &:last-child {
            //     margin-right: unset;
            // }
            &.withSkeletonLoader {
                overflow: hidden;
            }
        }

    }

    .filterBar__skeleton {
        &:before {
            width: calc(100% - 24px);
            left: 8px;
        }
    }
}

.filterButton {
    height: 40px; // пришлось прибегнуть к такому решению потому что у кнопки есть какойто свой padding, от которого хз как избавиться
    font-size: 16px;
    padding: 0px 16px;
    display: block;
    border: none;
    background-color: unset;
    border-radius: 12px;
    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
        color: inherit;
        opacity: .3;
    }
}

::ng-deep {
    .headInSortDropdown {
        display: flex;
        align-items: center;
        .headInSortDropdown__icon {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            // background-image: url('/assets/icons/sortIconActive.svg');

            &.filterIcon {
                background-image: url('/assets/icons/filterIconActive.svg');

                &--selected {
                    background-image: url('/assets/icons/filterIconSelected.svg');
                }
            }

            &.sortIcon {
                background-image: url('/assets/icons/sortIconActive.svg');

                &--selected {
                    background-image: url('/assets/icons/sortIconSelected.svg');
                }
            }
        }

        .headInSortDropdown__text {
            display: none;
            margin-left: 5px;
        }

        @media #{$notMobile} {
            .headInSortDropdown__text {
                display: block;
            }
        }
    }
}

.skeletonExample {
    margin-top: 40px;
    display: flex;
    .someFakeImg {
        width: 400px;
        height: 200px;
        background-color: aqua;
        position: relative;
    }
}

.filterOptionsBlock {
    font-family: "Nunito";
    display: flex;
    background-color: var(--color-gray1);
    padding: 24px 20px;
    border-radius: 20px;
    // max-height: 100%;
    max-height: calc(100vh - 180px);
    // pointer-events: auto;

    .filterOptionsBlock__content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .filterOptionsBlock__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;

            .filterOptionsBlock__resetBtn {
                position: relative;
                display: none;
                cursor: pointer;
                font-size: 14px;
                line-height: 24px;
                border: none;
                background-color: transparent;
                padding: unset;
                color: var(--color-black1);

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &[disabled] {
                    cursor: not-allowed;
                    color: inherit;
                    opacity: .3;
                }

                &:hover {
                    color: var(--color-blue1);
                }
            }

            @media #{$notMobile} {
                align-items: flex-end;
                margin-left: 16px;
                flex-wrap: wrap;
                column-gap: 10px;

                .filterOptionsBlock__resetBtn {
                    display: block;
                }

                .closeButtonInWindow {
                    display: none;
                }
            }
        }

        .filterOptionsBlock__allCountries {
            overflow: scroll;
            margin-top: 12px;
            .filterOptionsBlock__country {
                line-height: 24px;
                margin-top: 24px;

                .filterOptionsBlock__countryName {
                    font-weight: 700;
                    color: var(--color-text-gray);
                    margin: 0px 16px 12px;

                    &--selected {
                        color: var(--color-black1);
                    }
                }
                .filterOptionsBlock__allCities {
                    border-radius: 16px;
                    overflow: hidden;
                    .filterOptionsBlock__city {
                        margin-bottom: 2px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
                &:first-child {
                    margin-top: 12px;
                }
            }
        }

        .filterOptionsBlock__btnBar {
            display: none;
            // .btn {
            //     width: 100%;
            // }

            .filterOptionsBlock__btnItem {
                padding: 12px 20px;
            }
        }
    }

    @media #{$mobile} {
        max-height: 90%;
        border-radius: 20px 20px 0 0;
        // .filterOptionsBlock__allCountries .filterOptionsBlock__country {
        //     &:last-child {
        //         margin-bottom: 12px;
        //     }
        // }
        .filterOptionsBlock__content {
            .filterOptionsBlock__btnBar {
                display: flex;
                column-gap: 8px;
                margin-top: 12px;
            }
        }
    }

    @media #{$notMobile} {
        position: sticky;
        top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.filterOptionsForMobile {

    .filterOptionsForMobile__content {
        position: fixed;
        bottom: 0;
        background-color: rgba(51, 51, 51, 0.72);
        z-index: 110;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @media #{$notMobile} {
        display: none;
    }
}

.myBlock {
    position: sticky;
    bottom: 0px;
    height: 0px;
    width: 70px;
    left: 30px;
    background: aquamarine;

    .myBlock__body {
        background-color: red;
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 100%;
        margin-bottom: 30px;
    }
}

.pageContent__scrollToTopBtn {
    // margin-left: auto;

    .scrollProgress {
        right: 0;
    }
}

.cityForFilter {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 12px 16px;
    column-gap: 12px;

    .cityForFilter__checkbox {
        display: flex;
        align-items: center;
        overflow: hidden;
        .cityForFilter__box {
            position: relative;
            margin-right: 12px;
            border: 2px solid #ddd;
            width: 16px;
            height: 16px;
            border-radius: 4px;

            &:before {
                content: '';
                display: none;
                width: 12px;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                background-image: url('/assets/icons/selectedIconForFilter.svg');
            }

            &--selected {
                background-color: #ddd;
                &:before {
                    display: block;
                }
            }
        }

        .cityForFilter__name {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .cityForFilter__amountPlace {
        color: var(--color-text-gray);
    }

    &.disabled {
        cursor: not-allowed;
        .cityForFilter__checkbox {
            opacity: .3;
        }
    }
}

.goToAnotherLocations {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    background-color: var(--color-gray1);
    padding: 24px 28px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: start;
    .goToAnotherLocations__text {
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    .goToAnotherLocations__icon {
        margin: 6px 2px 0 0;
        width: 12px;
        height: 12px;
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: left center;
        background-image: url('../../assets/icons/arrowForAuthor.svg');
    }
}

.withSkeletonLoader {
    .skeletonLoader {
        display: block;
    }
}