<main class="page">
    <div class="container page__container">
        <aside class="sidebar sidebar--forMobile" [class.hiddenInMobile]="webview">
            <ng-container *ngTemplateOutlet="aboutPageContent"></ng-container>
        </aside>
        <aside class="sidebar">

            @if (!showFilterControls() || !filterFieldOptions?.length) {
                <!-- Инф о странице -->
                <ng-container *ngTemplateOutlet="aboutPageContent"></ng-container>
            } @else {
                <!-- Список городов для фильтрации -->
                <ng-container *ngTemplateOutlet="filterOptionsBlockTemplate"></ng-container>
            }

            <!-- <div class="scrollProgressWrapper">
                <div class="scrollProgress" (click)="scrollToTop()" [class.scrollProgress--hidden]="hideScrollProgress">
                    <svg class="scrollProgress__svg" viewBox="-10 -10 300 300">
                        <circle #progressCircle class="scrollProgress__circle" r="124" cx="140" cy="140" fill="none" stroke="white" stroke-width="20"></circle>
                    </svg>
                </div>
            </div> -->

        </aside>
        <main class="pageContent">
            <!-- <ng-container *ngIf="!isLoading(); else loadingTemplate"> -->
                <!-- <ng-container *ngIf="allLocations; else errorInGetAllLocations"> -->
                    <!-- <ng-container *ngIf="allLocations.placeCount; else empty"> -->
                        
                        <!-- && allLocations чтобы не показывать gradient когда отображается баннер #errorInGetAllLocations -->
                        <div class="pageContent__allAboutLocations" [class.pageContent__allAboutLocations--withGradientEffect]="isLoading() && allLocations">

                            <div class="stickyBar" [class.stickyBar--withLoading]="isLoading()">

                                <!-- Разновидность локаций -->
                                <div class="categoryCodes" [class.categoryCodes--withSkeleton]="locationCategoriesWithSkeleton()">
                                    <ul class="categoryCodes__list">
                                        @for (item of categoryCodes.list; track $index) {
                                            <li class="categoryCodes__item">
                                                <button type="button"
                                                    class="categoryCodes__btn"
                                                    [disabled]="disabledLocationCategories()"
                                                    [class.categoryCodes__btn--active]="item.active"
                                                    (click)="onChangeCurCategory(item)"
                                                >
                                                    {{item.title || 'Категория'}}
                                                </button>
                                            </li>
                                        }
                                        <div class="skeletonLoader categoryCodes__skeletonLoader"></div>
                                    </ul>
                                </div>

                                <!-- Фильтр бар -->
                                <div *ngIf="allLocations?.placeCount" class="filterBar">
                                    <div class="filterBar__length" [class.withSkeletonLoader]="isLoading()">
                                        <!-- Доступно {{allLocations.placeCount}} мест -->
                                        {{getAmountOfAllSelectedCities()}}
                                        <div class="skeletonLoader skeletonLoader--shortHeight"></div>
                                    </div>
                                    <div class="filterBar__controls">
                                        <!-- <button class="btn" (click)="isSorting() = !isSorting()">toggle</button> -->
                                        @if (filterBarGroup) {
                                            <div class="filterBar__item" [class.withSkeletonLoader]="isLoading()">
                                                <!-- Сортировка -->
                                                <!-- (ngModelChange)="onChangeSort($event)" -->
                                                <app-dropdown-field
                                                    [formControl]="filterBarGroup.get('sort')"
                                                    [options]="sortFieldOptions"
                                                    [showArrowIcon]="false"
                                                    [highlightHead]="false"
                                                    [dropdownHead]="dropdownHeadForSort"
                                                    optionLabel="value"
                                                    (toggle)="sortDropdownState($event)">
                                                </app-dropdown-field>
                                                <div class="skeletonLoader skeletonLoader--shortHeight"></div>
                                            </div>
                                        }
                                        <div class="filterBar__item" [class.withSkeletonLoader]="isLoading()">
                                            <!-- Фильтрация -->
                                            <button class="filterButton"
                                                [disabled]="!filterFieldOptions?.length"
                                                (click)="onShowHideFilterControls()"
                                            >
                                                <div class="headInSortDropdown">
                                                    <div class="headInSortDropdown__icon filterIcon" [class.filterIcon--selected]="amountAllSelectedCities.length"></div>
                                                    <div class="headInSortDropdown__text">Фильтр</div>
                                                </div>
                                            </button>
                                            <div class="skeletonLoader skeletonLoader--shortHeight filterBar__skeleton"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <ng-container *ngIf="!isLoading(); else loadingTemplate"> -->
                            <ng-container *ngIf="allLocations; else errorInGetAllLocations">
                                <ng-container *ngIf="allLocations.placeCount; else empty">
                                    @if (filteredLocations?.length) {
                                        <!-- Список локаций -->
                                        @for (block of filteredLocations; track block.cityCode; let lastIndex = $last) {
                                            @if (block.placeList?.length) {
                                                <div class="pageContent__locationsBlock" [class.pageContent__locationsBlock--last]="lastIndex">
                                                    <div class="pageContent__locationsCity">
                                                        <span class="pageContent__city" [class.withSimpleSkeleton]="isSorting() || isLoading()">{{block.cityTitle}}</span>
                                                    </div>
                                                    <ul class="pageContent__locationsList">
                                                        @for (location of block.placeList; track location.id) {
                                                            <li class="pageContent__locationsItem">
                                                                <!-- <app-location-item [isLoading]="isSorting()"
                                                                    (click)="goToLocationDesc(location.id)"
                                                                    [placeData]="location"
                                                                ></app-location-item> -->
                                                                <a [routerLink]="['/place', location.id || 'id']"
                                                                    target="_blank"
                                                                    class="pageContent__locationLink"
                                                                    [class.pageContent__locationLink--disabled]="isSorting() || isLoading()"
                                                                >
                                                                    <app-location-item
                                                                        [isLoading]="isSorting() || isLoading()"
                                                                        [placeData]="location"
                                                                    >
                                                                    </app-location-item>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        <!-- Кнопка наверх -->
                                        <div class="pageContent__scrollToTopBtn scrollProgressWrapper">
                                            <div class="scrollProgress" (click)="scrollToTop()" [class.scrollProgress--hidden]="hideScrollProgress">
                                                <svg class="scrollProgress__svg" viewBox="-10 -10 300 300">
                                                    <circle #progressCircle class="scrollProgress__circle" r="124" cx="140" cy="140" fill="none" stroke="white" stroke-width="20"></circle>
                                                </svg>
                                            </div>
                                        </div>
                                        <!-- Кнопка другие локации -->
                                        <div *ngIf="!isLoading()" class="pageContent__toAnotherLocations">
                                            <button class="goToAnotherLocations" type="button" (click)="goToAnotherLocations()">
                                                <div class="goToAnotherLocations__text">
                                                    Другие локации для выбранного города доступны в приложении
                                                </div>
                                                <div class="goToAnotherLocations__icon"></div>
                                            </button>
                                        </div>
                                    } @else {
                                        Упс :(<br>Какие-то проблемы с сортировкой.<br>Напишите нам об этом.
                                    }
                                </ng-container>
                            </ng-container>
                            <!-- </ng-container> -->
                        </div>
                        <!-- && allLocations чтобы не показывать gradient когда отображается баннер #errorInGetAllLocations -->
                        <!-- <div *ngIf="isLoading() && allLocations" class="gradientForLocationLoading"></div> -->
                    <!-- </ng-container> -->
                <!-- </ng-container> -->
            <!-- </ng-container> -->
        </main>
    </div>
    <!-- <div class="myBlock">
        <div class="myBlock__body"></div>
    </div> -->
</main>

<div *ngIf="showFilterControls() && filterFieldOptions?.length" class="filterOptionsForMobile">
    <div class="filterOptionsForMobile__content" (click)="onCloseFilterOptionsInMobile()">
        <ng-container *ngTemplateOutlet="filterOptionsBlockTemplate"></ng-container>
    </div>
</div>

<!-- <app-loader *ngIf="isLoading()"></app-loader> -->

<ng-template #empty>
    <!-- <p>Список локаций пуст</p> -->
    <div class="errorMessage">
        <div class="errorMessage__icon"></div>
        <div class="errorMessage__title">
            Пока ничего нет
        </div>
        <div class="errorMessage__text">
            Сейчас список пуст, но мы уже собираем<br>
            полезный материал, зайдите позже
        </div>
        <button class="errorMessage__btn" type="button" routerLink="/">На главную</button>
    </div>
</ng-template>
<ng-template #loadingTemplate>
    <p>Идет загрузка локаций...</p>
</ng-template>
<ng-template #aboutPageContent>
    <div class="aboutPage">
        <h1 class="moduleTitle">Локации</h1>
        <!-- {{getSomething}} -->
        <div class="aboutPage__text">
            Подборка мест для романтических свиданий и ещё какие-то слова чтобы добить до трех строк и было красиво
        </div>
        <div class="aboutPage__links aboutPage__links--forDesktop">
            <div class="linkToApp">
                <a href="https://www.apple.com/app-store" target="_blank" class="linkToApp__item">
                    <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="linkIOS">
                </a>
                <a href="https://play.google.com" target="_blank" class="linkToApp__item">
                    <img src="assets/images/store/linkAndroidLite.svg" class="linkToApp__img" alt="linkAndroid">
                </a>
                <a href="https://appgallery.huawei.com" target="_blank" class="linkToApp__item">
                    <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="linkAppGallery">
                </a>
            </div>
        </div>
        <div class="aboutPage__links aboutPage__links--forMobile">
            <div (click)="mobileDetectService?.goToDeviceStore()" class="downloadApp">
                <div class="downloadApp__title">Скачайте<br>приложение</div>
                <div class="downloadApp__icon">
                    <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="storeIcon">
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #filterOptionsBlockTemplate>
    <div (click)="clickByFilterOptions($event)" class="filterOptionsBlock">
        <div class="filterOptionsBlock__content">
            <div class="filterOptionsBlock__header">
                <div class="filterOptionsBlock__title">Фильтр городов</div>
                <button *ngIf="amountAllSelectedCities.length"
                    class="filterOptionsBlock__resetBtn"
                    [disabled]="debounceTimeForFilter || locationsUpdating"
                    type="button"
                    (click)="onResetAllFilters()"
                >
                    Сбросить
                </button>
                <div (click)="onCloseFilterOptionsInMobile()" class="closeButtonInWindow">
                    <div class="iconForCloseInModal"></div>
                </div>
            </div>
            <ul class="filterOptionsBlock__allCountries">
                <li *ngFor="let country of filterFieldOptions" class="filterOptionsBlock__country">
                    <div class="filterOptionsBlock__countryName"
                        [class.filterOptionsBlock__countryName--selected]="country['selectedСities']?.length"
                    >
                        {{country.countryTitle + (country['selectedСities']?.length ? ': ' + country['selectedСities']?.length : '')}}
                    </div>
                    <ul class="filterOptionsBlock__allCities">
                        <li *ngFor="let city of country.cityList" (click)="onSelectCity(country, city)" class="filterOptionsBlock__city">
                            <div class="cityForFilter" [class.disabled]="!+city.count">
                                <div class="cityForFilter__checkbox">
                                    <div class="cityForFilter__box" [class.cityForFilter__box--selected]="city.selected"></div>
                                    <div class="cityForFilter__name">{{city.title}}</div>
                                </div>
                                <div class="cityForFilter__amountPlace">{{city.count}}</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="filterOptionsBlock__btnBar">
                <button *ngIf="amountAllSelectedCities.length"
                    type="button"
                    (click)="onResetAllFiltersOnMobile()"
                    class="btn btn--white filterOptionsBlock__btnItem"
                >
                    Сбросить
                </button>
                <button type="button" (click)="onFilterFromMobile()" class="btn btn--size--long filterOptionsBlock__btnItem">Показать локации</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #errorInGetAllLocations>
    <div class="errorMessage">
        <div class="errorMessage__icon"></div>
        <div class="errorMessage__title">
            Есть проблема
        </div>
        <div class="errorMessage__text">
            Не смогли показать локации, попробуйте<br>
            перезагрузить страницу или зайдите позже
        </div>
        <button class="errorMessage__btn" [disabled]="isLoading()" [class.errorMessage__btn--isLoading]="isLoading()" (click)="retryGetAllLocations()">
            Перезагрузить
            <img class="errorMessage__btnSpinner" src="assets/icons/barsRotateFadeSpinner.svg" alt="spinner">
        </button>
    </div>
</ng-template>