@import "variables";

:host {
    // flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу. UPD: теперь эту роль выполняет contentWrapper

.page {

    .page__container {
        display: flex;
        flex-direction: column;

        margin-top: 20px;
        margin-bottom: 50px;
    }

    @media #{$notMobile} {

        .page__container {
            flex-direction: row;

            margin-top: 34px;
            margin-bottom: 140px;
        }
    }
}

// :host-context(.pageWrap--headerAndFooterFixed) {
//     .page {
//         max-height: 100%;
//         overflow: scroll;
//     }
// }

.sidebar {
    flex: 1;
    margin-bottom: 72px;

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

.hiddenInMobile {
    @media #{$mobile} {
        display: none;
    }
}

.aboutPage {
    .aboutPage__text {
        margin-top: 12px;
    }
    .aboutPage__links {
        margin-top: 24px;
        &--forDesktop {
            display: none;
        }
        &--forMobile {
            display: block;
        }
    }
    .aboutPage__btn {
        margin-top: 24px;
    }

    @media #{$notMobile} {
        .aboutPage__links {
            &--forDesktop {
                display: block;
            }
            &--forMobile {
                display: none;
            }
        }
    }
}

.pageContent {
    flex: 2;

    .pageContent__allAboutLocations {
        position: relative;
        padding-top: 76px;
    }

    .pageContent__filterBar {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .filterBarWrapper {
        &--position--fixed {
            position: fixed;
            left: 0;

            .filterBarWrapper__container {
                margin: 0 auto;
                max-width: 1240px;
                padding: 0 20px;
                display: flex;

                .filterBar {
                    flex: 1;
                }
            }

            @media #{$notMobile} {
                .filterBarWrapper__container {
                    .filterBarWrapper__fakeSidebar {
                        flex: 1;
                        max-width: 360px;
                        margin-right: 8%;
                    }
                    .filterBar {
                        flex: 2;
                    }
                }
            }
        }
    }

    .pageContent__locationsBlock {
        margin-bottom: 48px;
        .pageContent__locationsCity {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .pageContent__locationsList {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }

        &:last-child {
            margin-bottom: unset;
        }
    }

    @media #{$notMobile} {
        .pageContent__locationsBlock {
            .pageContent__locationsList {
                flex-wrap: wrap;
                flex-direction: row;
                // column-gap: 24px;
                row-gap: 48px;
                // justify-content: space-between;
                margin-right: -24px;

                .pageContent__locationsItem {
                    // width: 28%;
                    // flex-basis: calc(33% - 15px);
                    width: 33.33%;
                    padding-right: 24px;

                    // &:nth-child(3n) {
                    //     padding-right: unset;
                    // }
                    // &:last-child {
                    //     padding-right: unset;
                    // }
                }
            }
        }
    }
}

.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    background-color: var(--color-white);
    height: 56px;
    line-height: 24px;
    .filterBar__length {
        color: var(--color-text-gray);
        font-weight: 700;
    }
    .filterBar__controls {
        display: flex;
        align-items: center;
        .filterBar__item {
            margin-right: 20px;
            &:last-child {
                margin-right: unset;
            }
        }
    }
}

::ng-deep {
    .headInSortDropdown {
        display: flex;
        align-items: center;
        .headInSortDropdown__icon {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url('/assets/icons/sortIconActive.svg');

            &--selected {
                background-image: url('/assets/icons/sortIconSelected.svg');
            }
        }

        .headInSortDropdown__text {
            display: none;
            margin-left: 5px;
        }

        @media #{$notMobile} {
            .headInSortDropdown__text {
                display: block;
            }
        }
    }
}