<div class="qrModalOld" [class.qrModalOld--show]="show">
    <div class="qrModalOld__content">
        <div class="qrModalOld__head">
            <span class="qrModalOld__modelValue">{{count$$()}}</span>
            <button type="button" (click)="increment()" class="qrModalOld__close">+</button>
            <button type="button" (click)="closeModal()" class="qrModalOld__close">Закрыть</button>
        </div>
        <div class="qrModalOld__qrBlock">
            <img src="assets/images/qrCode.png" class="qrModalOld__qrImage" alt="qr">
        </div>
    </div>
</div>