@import "variables";

:host {
    // flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу

.placePage {

    margin-top: 20px;
    margin-bottom: 50px;

    .placePage__container {
        display: flex;
        flex-direction: column;
    }

    @media #{$notMobile} {
        margin-top: 34px;
        margin-bottom: 140px;

        .placePage__container {
            flex-direction: row;
        }
    }
}

.pageContent {
    flex: 2;

    .postContent {
        .postContent__feedback {
            margin-top: 24px;
        }
    }

    @media #{$notMobile} {

    }
}

.sidebar {
    flex: 1;
    margin-bottom: 72px;

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

.placeMainInfo {
    margin-top: 24px;
    .placeMainInfo__another {
        margin-top: 4px;
        display: flex;
        flex-wrap: wrap;
        color: var(--color-text-gray);
        line-height: 24px;
        cursor: default;
        .placeMainInfo__anotherItem {
            position: relative;
            padding-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--color-text-gray);
                top: 50%;
                left: 0;
                transform: translate(3px, -50%);
            }
            &:first-child {
                padding-left: 0px;
                &:before {
                    display: none;
                }
            }
        }
    }
}