@import "variables";

.page {
    .page__container {
        margin-top: 24px;
        margin-bottom: 48px;
    }
    @media #{$notMobile} {
        .page__container {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}

.legalInfoPage {
    .legalInfoPage__errorMessage {
        margin-top: 32px;
    }
    @media #{$notMobile} {
        .legalInfoPage__errorMessage {
            margin-top: 48px;
        }
    }
}