<main class="page">
    <div class="container page__container">
        <div class="legalInfoPage">
            <div class="moduleTitle moduleTitle--main">Правовая информация</div>

            <div class="legalInfoPage__errorMessage errorMessage">
                <div class="errorMessage__icon"></div>
                <div class="errorMessage__title">
                    Тут пока нет контента
                </div>
                <div class="errorMessage__text">
                    Заходите позже, мы обновляем документы<br>
                    и редизайним страницу
                </div>
            </div>
        </div>
    </div>
</main>