<p>main-layout works!</p>
<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu__item--active">
            <a routerLink="/">Главная</a>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
            <a routerLink="/articles">Статьи</a>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
            <a (click)="goToAnotherPage(['/agreements'])" routerLink="/agreements">Согласия</a>
        </li>
        <li class="menu__item">
            <a [routerLink]="['/admin', 'dashboard']">Админка</a>
        </li>
        <li class="menu__item">
            <button (click)="getAmountOfUserVisits()">
                Кол-во визитов
            </button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>