<div class="pageWrap"
    id="pageWrap"
    #pageWrap
    (scroll)="onScrollPage($event)"
    [ngClass]="{
        'pageWrap--headerFixed': mainLayoutOpt.header.fixed && !mainLayoutOpt.footerFixed && !mainLayoutOpt.header.withAnimation,
        'pageWrap--headerFixedWithAnim': mainLayoutOpt.header.fixed && !mainLayoutOpt.footerFixed && mainLayoutOpt.header.withAnimation,
        'pageWrap--headerAndFooterFixed': mainLayoutOpt.header.fixed && mainLayoutOpt.footerFixed
    }"
>

    @if (!webview) {
        <app-header></app-header>
    }

    <!-- Осн контент -->
    <div class="contentWrapper" [class.contentWrapper--noMargin]="webview">
        <router-outlet></router-outlet>
    </div>
    
    @if (!webview) {
        <app-footer></app-footer>
    }
</div>

<!-- Алерт -->
<app-toast [delay]="3000"></app-toast>

<!-- Модалка с QR-код -->
<ng-container *ngIf="modalService?.modalData$ | async as modalData">
    <ng-container *ngIf="modalData.component === 'mainLayoutComponent'">
        <div class="qrModal">
            <div class="container qrModal__container">
                <div class="qrModal__content">
                    <div class="qrContent">
                        <div class="qrContent__content">
                            <div class="qrContent__logo">
                                <img src="assets/images/logo.svg" class="qrContent__logoIcon" alt="logotip">
                                <div class="qrContent__logoText">
                                    <img src="assets/images/logoText.svg" alt="logotip">
                                </div>
                            </div>
                            <div class="qrContent__qr">
                                <img src="assets/images/qrCode.svg" class="qrContent__qrImage" alt="qr">
                            </div>
                            <div class="qrContent__message">
                                Наведите камеру на QR-код, чтоб скачать приложение
                            </div>
                        </div>
                    </div>
                    <div class="qrModal__desc">
                        <div class="qrModal__title">
                            Постройте великолепные отношения
                        </div>
                        <div class="qrModal__text">
                            Погрузитесь в мир Dazzlink — узнавайте новое, знакомьтесь и посещайте места
                        </div>
                    </div>
                    <div class="qrModal__closeButtonWrap" (click)="clickByCloseModal()">
                        <div class="qrModal__closeButton closeButtonInWindow">
                            <div class="iconForCloseInModal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<!-- пока есть 4 варианта поведения у header:
    
1) если pageWrap--headerFixed тогда у header position = fixed, он всегда расположен сверху окна
2) если pageWrap--headerFixedWithAnim тогда у header position = fixed, он всегда расположен сверху окна и + скрывается при скролле страницы вниз
3) pageWrap--headerAndFooterFixed тогда header и footer стоят на месте а осн контент скроллится
4) если pageWrap без модификаторов тогда у header обычное поведение он скроллится вместе со всей страницей -->