@import "variables";

:host {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу

.pageWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

    &--headerFixed {
        .header {
            display: none;

            &--position--fixed {
                display: block;
            }

            &--position--fixed--withAnim {
                display: none;
            }
        }
        .contentWrapper {
            margin-top: $headerHeightInMobile;

            @media #{$notMobile} {
                margin-top: $headerHeightInDesktop;
            }

            &--noMargin {
                margin: 0;
            }
        }
    }

    &--headerFixedWithAnim {
        .header {
            display: none;

            &--position--fixed--withAnim {
                display: block;
            }
        }
        .contentWrapper {
            margin-top: $headerHeightInMobile;

            @media #{$notMobile} {
                margin-top: $headerHeightInDesktop;
            }

            &--noMargin {
                margin: 0;
            }
        }
    }

    &--headerAndFooterFixed {
        .contentWrapper {
            overflow: hidden;
        }
        ::ng-deep {
            .page {
                max-height: 100%;
                overflow: scroll;
            }
        }
    }
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу

.header {

    .header__container {
        height: $headerHeightInMobile;
        padding: 30px 20px;
        display: flex;
        column-gap: 20px;

        .header__col {
            display: flex;
            align-items: center;
            flex: 1;

            &--alignRight {
                justify-content: flex-end;
            }

            .header__menu {
                line-height: 24px;
                font-size: 16px;
                display: none;
                @media #{$notMobile} {
                    display: block;
                }
            }
        }

        @media #{$notMobile} {
            height: $headerHeightInDesktop;
        }
    }

    .shadow {
        position: absolute;
        height: 20px; // если это поменяешь то меняй и transform: translateY(...) у header--hidden
        width: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.01), rgb(255, 255, 255));

        @media #{$notMobile} {
            height: 34px;
        }
    }

    &--position--fixed {
        display: none;
        position: fixed;
        z-index: 20;
        width: 100%;
        background-color: var(--color-white);
        top: 0;
        transition: .6s;
    }

    &--hidden {
        // overflow: hidden;
        transition: .6s;
        // top: -100%;
        transform: translateY(calc(-100% - 20px)); // 20px - высота у shadow

        @media #{$notMobile} {
            transform: translateY(calc(-100% - 34px)); // 34px - высота у shadow
        }
    }
}

.logo {
    width: 126px;
    // height: 38px;
    display: flex;
    max-height: 100%;
    overflow: hidden;

    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: left center;
    // background-image: url('src/assets/icons/rosbankLogo.svg');

    .logo__image {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    @media #{$notMobile} {
        width: 200px;
    }
}

.languageInHeader {
    display: none;
    margin-left: 16px;
    width: 80px;

    @media #{$notMobile} {
        display: block;
    }
}

.hamburger {
    padding: 0;
    cursor: pointer;
    border: none;
    // background-color: var(--color-pink);
    margin-left: 20px;
    background-color: transparent;
    position: relative;

    &:before {
        content: "";
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hamburger__line {
        margin: 8px 0;
        width: 24px;
        background-color: var(--color-blue);
        height: 2px;
        border-radius: 2px;
        position: relative;

        &:before {
            content: '';
            width: 24px;
            background-color: var(--color-blue);
            height: 2px;
            border-radius: 2px;
            display: block;
            position: absolute;
            bottom: 8px;
        }

        &:after {
            content: '';
            width: 24px;
            background-color: var(--color-blue);
            height: 2px;
            border-radius: 2px;
            display: block;
            position: absolute;
            top: 8px;
        }
    }

    @media #{$notMobile} {
        display: none;
    }
}

.menu {
    // line-height: 24px;
    .menu__list {
        display: flex;
        .menu__item {
            background-color: transparent;
            border-radius: 12px;
            // border: 2px solid transparent;
            .menu__link {
                cursor: default;
                display: block;
                text-decoration: none;
                padding: 4px 8px;
                color: var(--color-black1);
            }
            // &--active {
            //     cursor: default;
            //     background-color: var(--color-blue);
            //     border-color: var(--color-blue);
            //     .menu__link {
            //         cursor: default;
            //         color: var(--color-white);
            //     }
            // }
            // &:hover {
            //     border-color: var(--color-blue);
            // }
            &:not(.menu__item--active) {
                &:hover {
                    background-color: var(--color-black1);
                    .menu__link {
                        cursor: pointer;
                        color: var(--color-white);
                    }
                }
            }
        }
    }

    &--fd--column {
        .menu__list {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.contentWrapper {
    flex: 1;
}

.footer {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 60px 0;
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        // row-gap: 16px;

        .footer__col {
            display: flex;
            flex: 1;

            &--central {
                flex: 2;
                justify-content: center;
            }

            &--justifyContent--end {
                justify-content: flex-end;
            }
        }
    }
    @media #{$mobile} {
        padding: 24px 0;

        .footer__container {
            flex-direction: column-reverse;

            .footer__col {
                margin-bottom: 16px;

                &:first-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    // .footer__container {
    //     display: flex;
    //     flex-direction: column-reverse;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    // @media #{$notMobile} {
    //     padding: 60px 0;

    //     .footer__container {
    //         flex-direction: row;
    //     }
    // }
}

.company {
    opacity: .6;
    font-size: 14px;
}

.socialNetworks {
    .socialNetworks__list {
        display: flex;
        column-gap: 16px;
        font-size: 14px;
        .socialNetworks__item {
            .socialNetworks__link {
                color: var(--color-white);
                display: block;
            }
        }
    }

    &--textColor--black {
        .socialNetworks__list {
            .socialNetworks__item {
                .socialNetworks__link {
                    color: var(--color-black);
                }
            }
        }
    }

    @media #{$notMobile} {
        font-size: 18px;
    }
}

.navigationModal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $color-background;

    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    max-height: 90%;
    // min-height: 542px;
    box-sizing: border-box;
    border-radius: 10px;
    // opacity: .8;

    .navigationModal__header {

        // background-color: aquamarine;
        margin-bottom: 30px;

        .headerInModal {
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: space-between;

            .headerInModal__closeButton {
                cursor: pointer;
                position: relative;

                &:before {
                    content: "";
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    .iconForCloseInModal {
                        transform: scale(1.4) rotate(180deg);
                    }
                }
            }
        }
    }

    .navigationModal__contentWrap {
        .navigationModal__content {
            .navigationModal__menu {
                font-size: 24px;
                line-height: 32px;
                margin-left: -12px;

                .menu__list {
                    .menu__item {
                        .menu__link {
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }

    .iconForCloseInModal {
        position: relative;
        width: 24px;
        height: 24px;
        transition: .7s;

        &:before {
            content: "";
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background-color: var(--color-blue);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center center;
        }

        &:after {
            content: "";
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background-color: var(--color-blue);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transform-origin: center center;
        }
    }

    .navigationModal__contentWrap {
        // background-color: burlywood;
        flex: 1;
    }

    .navigationModal__footer {
        // background-color: coral;
        margin-top: 30px;

        .footerInModal {
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: space-between;
        }

        .footerInModal__lang {
            margin-left: -16px;
        }
    }

    @media #{$mobile} {
        padding: 30px 20px;
        height: 100%;
        max-height: unset;
        border-radius: 0px;
        justify-content: center;
    }
}

.footerNew {
    .footerNew__content {
        display: flex;
        min-height: 104px;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        border-radius: 24px;
        background-color: var(--color-black2);
        color: var(--color-white);
        margin-bottom: 20px;
        row-gap: 20px;
        .footerNew__col {
            .footerNew__socialNetworksBlock {
                margin-right: 16px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 8px;
            }
        }
    }

    @media #{$mobile} {
        .footerNew__container {
            padding: 0;
        }
        .footerNew__content {
            align-items: stretch;
            border-radius: 24px 24px 0 0;
            margin: 0;
            flex-direction: column;
            .footerNew__col {
                .footerNew__socialNetworksBlock {
                    margin: 0;
                    row-gap: 12px;
                    align-items: center;
                }
            }
        }
    }
}