<header class="header">
    <div class="container header__container">
        <div class="header__col">
            <a routerLink="/" class="logo">
                <img src="assets/images/logo.svg" class="logo__image" alt="logotip">
            </a>
        </div>
        <div class="header__col header__col--alignRight">
            <div class="header__menu">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/">Главная</a>
                        </li>
                        <li class="menu__item" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/articles">Статьи</a>
                        </li>
                        <li class="menu__item" routerLinkActive="menu__item--active">
                            <a class="menu__link" routerLink="/agreements">Согласия</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" [routerLink]="['/admin', 'dashboard']">Админка</a>
                        </li>
                        <!-- <li class="menu__item">
                            <button (click)="getAmountOfUserVisits()">
                                Кол-во визитов
                            </button>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="languageInHeader">
                <app-dropdown-field
                    [formControl]="myForm.get('language')"
                    (ngModelChange)="onChangeLang($event)"
                    [options]="langFieldOptions"
                    [multiple]="false"
                    optionLabel="value">
                </app-dropdown-field>
            </div>
            <button (click)="showNavModal = true" class="hamburger">
                <div class="hamburger__line"></div>
            </button>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container footer__container">
        <div class="footer__col">
            <div class="company">ООО&nbsp;«Даззл»&nbsp;{{curYear}}</div>
        </div>
        <div class="footer__col footer__col--central">
            <div class="linkToApp">
                <a href="https://apps.apple.com/ru" target="_blank" class="linkToApp__item">
                    <img src="assets/images/linkIOS.png" class="linkToApp__img" alt="linkIOS">
                </a>
                <a class="linkToApp__item">
                    <img src="assets/images/linkAndroid.png" class="linkToApp__img" alt="linkAndroid">
                </a>
            </div>
        </div>
        <div class="footer__col footer__col--justifyContent--end">
            <div class="socialNetworks">
                <ul class="socialNetworks__list">
                    <li class="socialNetworks__item">
                        <a href="https://instagram.com" target="_blank" class="socialNetworks__link">Instagram</a>
                    </li>
                    <li class="socialNetworks__item">
                        <a href="https://facebook.com" target="_blank" class="socialNetworks__link">Facebook</a>
                    </li>
                    <li class="socialNetworks__item">
                        <a href="https://twitter.com" target="_blank" class="socialNetworks__link">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Модалка с навигацией для мобилы -->
<div *ngIf="showNavModal" class="navigationModal">
    <div class="navigationModal__header">
        <div class="headerInModal">
            <div class="headerInModal__col">
                <a routerLink="/" class="logo">
                    <img src="assets/images/logo.svg" class="logo__image" alt="logotip">
                </a>
            </div>
            <div class="headerInModal__col">
                <div (click)="showNavModal = false" class="headerInModal__closeButton">
                    <div class="iconForCloseInModal"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigationModal__contentWrap">
        <div class="navigationModal__content">
            <nav class="menu menu--fd--column">
                <ul class="menu__list">
                    <li class="menu__item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu__item--active">
                        <a class="menu__link" (click)="goToAnotherPage('/')" routerLink="/">Главная</a>
                    </li>
                    <li class="menu__item" routerLinkActive="menu__item--active">
                        <a class="menu__link" (click)="goToAnotherPage('/articles')" routerLink="/articles">Статьи</a>
                    </li>
                    <li class="menu__item" routerLinkActive="menu__item--active">
                        <a class="menu__link" (click)="goToAnotherPage('/agreements')" routerLink="/agreements">Согласия</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" [routerLink]="['/admin', 'dashboard']">Админка</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="navigationModal__footer">
        <div class="footerInModal">
            <div class="footerInModal__col">
                <div class="socialNetworks socialNetworks--textColor--black">
                    <ul class="socialNetworks__list">
                        <li class="socialNetworks__item">
                            <a href="https://instagram.com" target="_blank" class="socialNetworks__link">Instagram</a>
                        </li>
                        <li class="socialNetworks__item">
                            <a href="https://facebook.com" target="_blank" class="socialNetworks__link">Facebook</a>
                        </li>
                        <li class="socialNetworks__item">
                            <a href="https://twitter.com" target="_blank" class="socialNetworks__link">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerInModal__col">
                <app-dropdown-field
                    [formControl]="myForm.get('language')"
                    [options]="langFieldOptions"
                    [multiple]="false"
                    [listOnTop]="true"
                    optionLabel="value"
                    arrowIcon="assets/icons/planetForLang.svg">
                </app-dropdown-field>
            </div>
        </div>
    </div>
</div>