<app-header></app-header>
<div class="page">
    <div class="container page__container">

        <div class="page__title">
            <div class="partnerTitle">
                <h1 class="moduleTitle partnerTitle__text">
                    {{'business.partnerTitle.text' | transloco}}
                </h1>
                <div class="partnerTitle__desc">
                    {{'business.partnerTitle.desc' | transloco}}
                </div>
                <div class="partnerTitle__btn"></div>
                <button (click)="jumpToSection('whatNextBlock')" class="blueBtn">
                    {{'business.partnerTitle.btn' | transloco}}
                </button>
            </div>
            <div class="partnerPic">
                <div class="partnerPic__item">
                    <img class="partnerPic__img" src="assets/images/business-page/ozbechka.png" alt="ozbechka">
                </div>
                <div class="partnerPic__item">
                    <img class="partnerPic__img" src="assets/images/business-page/mado.png" alt="mado">
                </div>
            </div>
        </div>

        <div class="page__block">
            <h2 class="page__blockTitle">
                {{'business.forWhom' | transloco}}
            </h2>
            <div class="page__blockContent">
                @for (block of forWhomData; track $index) {
                    <app-for-business-block [data]="block"></app-for-business-block>
                }
            </div>
        </div>
        <div class="page__block">
            <h2 class="page__blockTitle">
                {{'business.whatExactly' | transloco}}
            </h2>
            <div class="page__blockContent">
                @for (block of whatExactly; track $index) {
                    <app-for-business-block [data]="block"></app-for-business-block>
                }
            </div>
        </div>
        <div class="page__block">
            <span id="whatNextBlock" class="anchoroffset"></span>
            <h2 class="page__blockTitle">
                {{'business.whatNext.header' | transloco}}
            </h2>
            <div class="whatNextRules">
                <div class="whatNext">
                    <div class="whatNext__num">1</div>
                    <div class="whatNext__rule">
                        @if (curGlobalLang === 'uz') {
                            Bizga <a href="mailto:contact@dazzlink.asia" class="whatNext__mailto">contact&#64;dazzlink.asia</a> manzili orqali yozing 
                        } @else {
                            Напишите нам на почту <a href="mailto:contact@dazzlink.asia" class="whatNext__mailto">contact&#64;dazzlink.asia</a>
                        }
                    </div>
                </div>
                <div class="whatNext">
                    <div class="whatNext__num">2</div>
                    <div class="whatNext__rule">{{'business.whatNext.obsudim' | transloco}}</div>
                </div>
                <div class="whatNext">
                    <div class="whatNext__num">3</div>
                    <div class="whatNext__rule">{{'business.whatNext.oformim' | transloco}}</div>
                </div>
                <div class="whatNext">
                    <div class="whatNext__num">4</div>
                    <div class="whatNext__rule">{{'business.whatNext.zamerim' | transloco}}</div>
                </div>
            </div>
        </div>
        <!-- <div class="forWhom">
            Что 
        </div> -->
    </div>
</div>
<app-footer></app-footer>