<div class="cityCarouselImage" [class.cityCarouselImage--mainImageLoad]="mainImageLoad()">
    @if (imageData.metadata?.imageBase64) {
        <img
            class="cityCarouselImage__image cityCarouselImage__image--thumbHash"
            [src]="imageData.metadata.imageBase64"
            alt="preview"
        >
    }
    <img
        class="cityCarouselImage__image cityCarouselImage__image--main"    
        [src]="imageData.href"
        (load)="mainImageLoad.set(true)"
        alt="pic"
    >
</div>