<!-- <style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style> -->

<router-outlet></router-outlet>

<!-- <ng-container *ngIf="modalService" Проверка изза того что в некоторых компонентах (как например в appList) мы при открытии страницы (в методе "ngOnInit") сразу пытаемся
    вызвать модалку пробросив ее значение в сервис "modalService" который еще типо не успел появиться>  -->
    <ng-container *ngIf="modalService?.modalData$ | async as modalData">
      <app-modal *ngIf="modalData.component === 'appComponent'" (buttonClick)="buttonInModalClick($event)">
          <!-- {{modalData}} -->
          <ng-container *ngIf="modalData.modalName === 'requirementForCarModal'">
            <div style="margin-top: 30px;" class="additContentForPopup">additional content</div>
          </ng-container>
      </app-modal>
  </ng-container>
<!-- </ng-container> -->