@import "variables";

.modal {
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    .modal__container {
        display: flex;
        padding: 20px;
        height: 100%;
        .modal__wrapper {
            display: flex;
            flex: 1;
            overflow: hidden;
            flex-direction: column-reverse;
            .modal__content {
                display: flex;
                flex-direction: column;
                overflow: scroll;
            }
        }
    }

    @media #{$notMobile} {
        .modal__container {
            padding: 64px 20px;
            .modal__wrapper {
                justify-content: space-between;
                flex-direction: row;
                .modal__content {
                    flex: 1;
                }
                .modal__closeBtn {
                    padding-bottom: 40px;
                    padding-left: 40px;
                    cursor: pointer;
                    align-self: flex-start;
                }
            }
        }
    }

    @media #{$mobile} {
        .modal__container .modal__wrapper {
            .modal__content {
                // overscroll-behavior: contain;
            }
            .modal__closeBtn {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

@media #{$mobile} {
    .closeButtonInWindow {
        .iconForCloseInModal {
            margin-bottom: 20px;
        }
    }
}

@media #{$notMobile} {
    .closeButtonInWindow {
        margin-left: 76px;
        &:after {
            content: "Закрыть";
            position: absolute;
            right: 100%;
            top: 0;
            font-size: 16px;
            transform: translateX(-4px);
        }
    }
}

.QRCode {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .QRCode__screen {
        border: 6px solid #a8a8a8;
        border-bottom: none;
        border-radius: 44px 44px 0px 0px;
        max-width: 352px;
        padding: 32px 52px 50px;
        position: relative;
        .QRCode__content {
            position: relative;
            z-index: 10;
            .QRCode__logo {
                height: 64px;
                margin-bottom: 20px;
                .QRCode__logoIcon {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center center;
                }
            }
            .QRCode__qr {
                padding: 12px;
                aspect-ratio: 1;
                .QRCode__qrImage {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .QRCode__message {
                font-size: 16px;
                text-align: center;
                color: var(--color-text-gray);
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 12px);
            height: 100px;
            background-color: white;
            mask-image: linear-gradient(0deg, #000, transparent);
        }
    }
    .QRCode__desc {
        max-width: 800px;
        text-align: center;
        .QRCode__title {
            font-size: 32px;
            line-height: 40px;
            font-weight: 800;
        }
        .QRCode__text {
            margin: 8px auto 0px;
            max-width: 660px;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
        }
    }
    @media #{$notMobile} {
        margin-left: 140px;
    }
}

.qrModal {
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    .qrModal__container {
        height: 100%;
        padding: 64px 20px;
    }

    .qrModal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0px 120px;
        position: relative;

        .qrModal__desc {
            position: relative;
            bottom: 78px;
            background-color: var(--color-white);
            max-width: 640px;
            text-align: center;

            &:before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0px;
                height: 86px;
                width: 100%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
            }

            .qrModal__title {
                font-size: 32px;
                font-weight: 700;
            }
            .qrModal__text {
                font-size: 24px;
            }
        }

        .qrModal__closeButtonWrap {
            position: absolute;
            cursor: pointer;
            padding: 0px 0px 40px 40px;
            top: 0;
            right: 0;
            .qrModal__closeButton {
                margin-left: 76px;
                &:after {
                    content: "Закрыть";
                    position: absolute;
                    right: 100%;
                    top: 0;
                    font-size: 16px;
                    transform: translateX(-4px);
                }
            }
        }
    }

    @media #{$mobile} {
        .qrModal__container {
            padding: 24px 20px;
        }
        .qrModal__content {
            padding: 0px;
            padding-top: 30px;
            .qrModal__desc {
                display: none;
            }
        }
    }
}

.qrContent {
    border: 6px solid rgba(100, 100, 100, 1);
    border-radius: 44px;
    max-width: 340px;
    padding: 32px 64px 100px;
    position: relative;
    .qrContent__content {
        position: relative;
        z-index: 10;
    }
    .qrContent__logo {
        height: 64px;
        margin-bottom: 32px;
        .qrContent__logoIcon {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
    .qrContent__qr {
        margin-bottom: 24px;
        aspect-ratio: 1;
        .qrContent__qrImage {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    .qrContent__message {
        font-size: 14px;
        text-align: center;
        color: var(--color-text-gray);
    }
    @media #{$mobile} {
        padding: 32px 64px 48px;
    }
}