<footer class="footer">
    <div class="container footer__container">
        <div class="footer__content">
            <div class="footer__col footer__col--forMobile">
                @if (true) {
                    <button
                        class="blueBtn blueBtn--white blueBtn--withPresentIcon"
                        (click)="qrModalOrTelegram()"
                    >
                        <img src="assets/icons/presentBlue.svg" alt="p">
                        Получить подарок
                    </button>
                } @else {
                    <div (click)="mobileDetectService?.goToDeviceStore()" class="footer__download downloadApp">
                        <div class="downloadApp__title">Скачайте<br>приложение</div>
                        <div class="downloadApp__icon">
                            <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="storeIcon">
                        </div>
                    </div>
                }
                <div class="footer__links">
                    <div class="footer__nav">
                        <a class="btnInFooter" routerLink="/help">{{helpBtnName}}</a>
                        <a class="btnInFooter" routerLink="/legal-info">Правовая информация</a>
                    </div>
                    <div class="footer__socialNetworks">
                        <a href="https://instagram.com/dazzlink.asia" target="_blank" class="btnInFooter">Instagram</a>
                        <a href="https://facebook.com" target="_blank" class="btnInFooter">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="footer__col footer__col--forDesktop">
                <div class="footer__btns">
                    @if (true) {
                        <button class="btnInFooter"
                            (click)="qrModalOrTelegram()"
                            type="button"
                        >
                            Получить подарок
                        </button>
                    } @else {
                        <button class="btnInFooter"
                            (click)="showQrCodeModal.set(!showQrCodeModal())"
                            type="button"
                        >
                            Скачать приложение
                        </button>
                    }
                    <a class="btnInFooter" routerLink="/help">Помощь</a>
                    <a class="btnInFooter" routerLink="/legal-info">Правовая информация</a>
                    <a href="https://instagram.com/dazzlink.asia" target="_blank" class="btnInFooter">Instagram</a>
                    <a href="https://facebook.com" target="_blank" class="btnInFooter">Facebook</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="company" (click)="clickByCompanyBlock()">{{curYear}} ©&nbsp;DAZZLINK&nbsp;CO,&nbsp;LLC. Все&nbsp;права&nbsp;защищены</div>
            </div>
        </div>
    </div>
</footer>

<app-qr-code-modal [(show)]="showQrCodeModal"></app-qr-code-modal>