<main class="helpPage">
    <div class="container helpPage__container">
        <aside class="sidebar">
            <div class="aboutPage">
                <h2 class="moduleTitle moduleTitle--main">Помощь</h2>
                <div class="helpPage__anchorNav anchorNav">
                    <ul class="anchorNav__list">
                        <li class="anchorNav__item">
                            <!-- <a class="anchorLink"
                                [ngClass]="{'anchorLink--active': curSection === 'phones'}"
                                routerLink="/help"
                                fragment="phones"
                                [queryParams]="{page: 1}"
                                (click)="onNavInDesktop('phones')"
                            >
                                Телефоны доверия
                            </a> -->
                            <a class="anchorLink"
                                [ngClass]="{'anchorLink--active': curSection === 'phones'}"
                                routerLink="/help"
                                (click)="onNavInDesktop('phones')"
                            >
                                Телефоны доверия
                            </a>
                        </li>
                        <li class="anchorNav__item">
                            <a [routerLink]="['/help']" class="anchorLink" [ngClass]="{'anchorLink--active': curSection === 'support'}" (click)="onNavInDesktop('support')">
                                Поддержка сервиса
                            </a>
                        </li>
                        <li class="anchorNav__item">
                            <a [routerLink]="'/help'" class="anchorLink" [ngClass]="{'anchorLink--active': curSection === 'questions'}" (click)="onNavInDesktop('questions')">
                                Популярные вопросы
                            </a>
                        </li>
                        <!-- <li class="anchorNav__item">
                            <a href="#questions" class="anchorLink">
                                <div class="anchorLink__state"></div>
                                <div class="anchorLink__text">Популярные вопросы</div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <!-- <button (click)="scrollToTop()">My1</button> -->
            </div>
        </aside>
        <main class="pageContent">
            <div class="stickyMenuWrapper">
                <div class="updatePageInfo">
                    Обновлено {{updatePageInfo | date:'dd&nbsp;MMMM&nbsp;yyyy':'':'ru'}}
                </div>
                <div class="inlineAnchorNav">
                    <ul class="inlineAnchorNav__list">
                        <li class="inlineAnchorNav__item" [id]="sectionDictionary['phones']">
                            <a [routerLink]="['/help']"
                                (click)="onNavInMobile('phones')"
                                class="inlineAnchorLink inlineAnchorLink--active"
                                [ngClass]="{'inlineAnchorLink--active': curSection === 'phones'}"
                            >
                                Телефоны&nbsp;доверия
                            </a>
                        </li>
                        <li class="inlineAnchorNav__item" [id]="sectionDictionary['support']">
                            <a [routerLink]="['/help']"
                                (click)="onNavInMobile('support')"
                                class="inlineAnchorLink"
                                [ngClass]="{'inlineAnchorLink--active': curSection === 'support'}"
                            >
                                Поддержка&nbsp;сервиса
                            </a>
                        </li>
                        <li class="inlineAnchorNav__item" [id]="sectionDictionary['questions']">
                            <a [routerLink]="['/help']"
                                (click)="onNavInMobile('questions')"
                                class="inlineAnchorLink"
                                [ngClass]="{'inlineAnchorLink--active': curSection === 'questions'}"
                            >
                                Популярные&nbsp;вопросы
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <button (click)="clickByMyBtn2()">
                My2
            </button> -->
            <div class="phonesBlock" #section>
                <span id="phones" class="anchoroffset"></span>
                <h3 class="phonesBlock__title moduleTitle">Телефоны доверия</h3>
                <div class="phonesBlock__area">
                    <h4 class="phonesBlock__country moduleTitle moduleTitle--small">Узбекистан</h4>
                    <ul class="phonesBlock__phones">
                        <li class="phonesBlock__phoneItem">
                            <a class="phonesBlock__val" href="tel:1259">
                                Номер: 1259
                            </a>
                            <div class="phonesBlock__desc">
                                Горячая линия МВД Узбекистана по борьбе с насилием против женщин.
                            </div>
                            <div class="phonesBlock__source">
                                Источник информации <a href="https://uznews.uz/" class="phonesBlock__sourceLink" target="_blank">uznews.uz</a>
                            </div>
                        </li>
                        <li class="phonesBlock__phoneItem">
                            <a class="phonesBlock__val" href="tel:+998712561418">
                                Номер: +998 71-256-14-18
                            </a>
                            <div class="phonesBlock__desc">
                                Отдел по вопросам женщин МВД Узбекистана (по всей республике).
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="phonesBlock__area">
                    <h4 class="phonesBlock__country moduleTitle moduleTitle--small">Казахстан</h4>
                    <ul class="phonesBlock__phones">
                        <li class="phonesBlock__phoneItem">
                            <a class="phonesBlock__val" href="tel:111">
                                Номер: 111
                            </a>
                            <div class="phonesBlock__desc">
                                Единый государственный контакт-центр «111 – AMANAT» для жертв бытового насилия и буллинга.
                            </div>
                            <div class="phonesBlock__source">
                                Источник информации <a href="https://tengrinews.kz/" class="phonesBlock__sourceLink" target="_blank">tengrinews.kz</a>
                            </div>
                        </li>
                        <li class="phonesBlock__phoneItem">
                            <a class="phonesBlock__val" href="tel:150">
                                Номер: 150
                            </a>
                            <div class="phonesBlock__desc">
                                Национальная телефонная линия доверия для детей и молодёжи, также помогает женщинам и семьям.
                            </div>
                            <div class="phonesBlock__source">
                                Источник информации <a href="https://tengrinews.kz/" class="phonesBlock__sourceLink" target="_blank">tengrinews.kz</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="supportBlock" #section>
                <span id="support" class="anchoroffset"></span>
                <h3 class="supportBlock__title moduleTitle">Поддержка сервиса</h3>
                <a href="mailto:support@dazzlink.asia" class="connectWithUsBtn connectWithUsBtn--gray">
                    <div class="connectWithUsBtn__head">
                        Нужна помощь? 
                    </div>
                    <div class="connectWithUsBtn__link">
                        support&#64;dazzlink.asia
                    </div>
                </a>
            </div>

            @if (questionsForRender?.length) {
                <div class="questionsBlock" #section>
                    <span id="questions" class="anchoroffset"></span>
                    <h3 class="questionsBlock__title moduleTitle">Популярные вопросы</h3>
                    <ul class="questionsBlock__list">
                        @for(q of questionsForRender; track $index) {
                            <li class="questionsBlock__item">
                                <div class="questionsBlock__head">
                                    <div class="questionsBlock__question">
                                        {{q.question}}
                                    </div>
                                    <!-- <div [class.questionsBlock__toggle--hidden]="!q.active" class="questionsBlock__toggle" (click)="q.active = !q.active">
                                        <div class="questionsBlock__toggleIcon"></div>
                                    </div> -->
                                </div>
                                @if (q.active) {
                                    <div class="questionsBlock__answer">
                                        {{q.answer}}
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </main>
    </div>
</main>

<!-- <div class="rootMargin" [ngStyle]="{paddingBottom: rootMargin + 'px'}">
    <div class="rootMargin__block"></div>
</div> -->