
<div *ngIf="!loading; else loadingTemplate">

    <div style="margin-top: 30px;" *ngIf="posts.length; else empty">
        <div>
            <input type="text" placeholder="Найти пост...">
        </div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Дата</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts; let idx = index">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.date | date:'medium':'':'ru' }}</td>
                    <td>
                        <button class="btn" (click)="goToEditPage(post.id)">
                            Открыть
                        </button>
                        <a (click)="remove(post.id)">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <ng-template #empty>
        <p>Список пуст</p>
    </ng-template>

</div>
<ng-template #loadingTemplate>
    <p>Идет загрузка...</p>
</ng-template>