.linkToAppComponent {
    .linkToAppComponent__downloadApp {
        max-width: 422px;
    }
    &--forDesktop {
        display: none;
    }
    &--forMobile {
        display: block;
    }
    @media (min-width: 1025px) {
        &--forDesktop {
            display: block;
        }
        &--forMobile {
            display: none;
        }
    }
}