@if (0) {
    <button (click)="qrModalOrTelegram()" class="blueBtn blueBtn--withPresentIcon">
        <img src="assets/icons/present.svg" alt="p">
        Получить подарок
    </button>
} @else {
    <div class="linkToAppComponent linkToAppComponent--forDesktop">
        <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
    </div>

    @if (mobileDetectService.osDevice) {
        <div class="linkToAppComponent linkToAppComponent--forMobile">
            <div class="linkToAppComponent__downloadApp">
                <dz-download-app-btn></dz-download-app-btn>
            </div>
        </div>
    } @else {
        <div class="linkToAppComponent linkToAppComponent--forMobile">
            <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
        </div>
    }
}

<ng-template #linkToApp>
    <div class="linkToApp">
        <a
            href="https://apps.apple.com/app/dazzlink-asia/id6477790074"
            target="_blank"
            class="linkToApp__item"
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkIOSShort.svg" alt="iOS">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkIOSShortDark.svg" alt="iOS">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkIOSShort.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkIOSShortDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkIOSShort.svg" alt="iOS">
            </picture>
        </a>
        <a
            href="https://play.google.com/store/apps/details?id=asia.dazzlink.dazzlink"
            target="_blank"
            class="linkToApp__item"
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkAndroid.svg" alt="Android">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkAndroidDark.svg" alt="Android">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkAndroid.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkAndroidDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkAndroid.svg" alt="Android">
            </picture>
        </a>
        <a
            href="https://appgallery.cloud.huawei.com/ag/n/app/C112028837"
            target="_blank"
            class="linkToApp__item"
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkAppGallery.svg" alt="Huawei">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkAppGalleryDark.svg" alt="Huawei">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkAppGallery.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkAppGalleryDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkAppGallery.svg" alt="Huawei">
            </picture>
        </a>
    </div>
</ng-template>

<ng-template #linkToQRModal>
    <div class="linkToApp">
        <button
            class="linkToApp__item"
            (click)="openQRModal()"
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkIOSShort.svg" alt="iOS">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkIOSShortDark.svg" alt="iOS">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkIOSShort.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkIOSShortDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkIOSShort.svg" alt="iOS">
            </picture>
        </button>
        <button
            class="linkToApp__item"
            (click)="openQRModal()"
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkAndroid.svg" alt="Android">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkAndroidDark.svg" alt="Android">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkAndroid.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkAndroidDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkAndroid.svg" alt="Android">
            </picture>
        </button>
        <button
            class="linkToApp__item"
            (click)="openQRModal()" 
        >
            <img class="linkToApp__img forLightTheme" src="assets/images/store/linkAppGallery.svg" alt="Huawei">
            <img class="linkToApp__img forDarkTheme" src="assets/images/store/linkAppGalleryDark.svg" alt="Huawei">
            <picture class="forSystemTheme">
                <source srcset="assets/images/store/linkAppGallery.svg" media="(prefers-color-scheme: light)">
                <source srcset="assets/images/store/linkAppGalleryDark.svg" media="(prefers-color-scheme: dark)">
                <img class="linkToApp__img" src="assets/images/store/linkAppGallery.svg" alt="Huawei">
            </picture>
        </button>
    </div>
</ng-template>