@use "breakpoints" as *;

.locationItem {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    .locationItem__img {
        position: relative;
        z-index: 10;
        margin-bottom: 12px;
        background-color: var(--color-gradient-bg-after);
        min-height: 180px;
        border-radius: 24px;
        overflow: hidden;
        height: 224px;
        // aspect-ratio: 1;

        .locationItem__pic {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // img {
        //     // max-width: 100%;
        //     width: 100%;
        //     object-fit: cover;
        //     height: 100%;
        //     // object-position: right bottom;
        // }
    }
    &:hover .placeDetails .placeDetails__main .placeDetails__title {
        color: var(--color-hover-blue);
    }
    &--withSkeleton {
        cursor: wait;
        .skeletonLoader {
            display: block;
        }
    }
}

@mixin gradientEffect($bcColor: var(--color-gradient-bg-before)) {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $bcColor;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 80%;
        background-color: var(--color-gradient-bg-after);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 20px;
    }
}

.locationItem--withSkeleton {
    .placeDetails {
        // .placeDetails__main, .placeDetails__addit {
        //     .placeDetails__title, .placeDetails__rating, .placeDetails__another, .placeDetails__address {
        //         @include gradientEffect;
        //     }
        // }
        .placeDetails__main {
            .placeDetails__title {
                @include gradientEffect;
            }
            .placeDetails__rating {
                @include gradientEffect;
            }
            .placeDetails__another {
                @include gradientEffect;
            }
            .placeDetails__address {
                @include gradientEffect;
            }
        }
        .placeDetails__addit {
            color: transparent;
            .placeDetails__title {
                @include gradientEffect;
            }
            .placeDetails__rating {
                @include gradientEffect;
            }
            .placeDetails__another {
                @include gradientEffect;
            }
            .placeDetails__address {
                @include gradientEffect;
            }
        }
    }

    .locationItem__img {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--color-gradient-bg-before);
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--color-gradient-bg-after);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 20px;
        }
    }
}

.placeDetails {
    position: relative;
    .placeDetails__main {
        display: flex;
        line-height: 24px;
        column-gap: 10px;
        justify-content: space-between;
        .placeDetails__title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // flex: 1;
        }
    }
    .placeDetails__addit {
        color: var(--color-gray-medium);
        line-height: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .placeDetails__another {
            display: flex;
            max-width: 100%;
            .placeDetails__anotherItem {
                position: relative;
                padding-left: 13px;
                white-space: nowrap;
                &--withEllipsis {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 2.5px;
                    height: 2.5px;
                    border-radius: 50%;
                    background-color: var(--color-gray-medium);
                    top: 50%;
                    left: 0;
                    transform: translate(6px, -50%);
                }
                &:first-child {
                    padding-left: 0px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .placeDetails__address {
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.skeletonLoader {
    background-color: transparent;
    &::before {
        background-color: transparent;
    }
}