<div class="locationItem" [class.withSkeletonLoader]="isLoading">
    <div class="locationItem__img">
        <ng-container *ngIf="placeData?.imageList?.length; else defaultPlaceImg">
            <img [src]="placeData.imageList[0].href" alt="Фото локации">
        </ng-container>

        <div class="skeletonLoader"></div>
    </div>
    <!-- <div class="locationItem__details placeDetails">
        <div class="placeDetails__info">{{placeData.published | date:'dd&nbsp;MMMM&nbsp;yyyy':'':'ru'}}</div>
        <div *ngIf="placeData.viewCount" class="placeDetails__info">{{placeData.viewCount}} {{buildViewCount(placeData.viewCount)}}</div>
    </div>
    <div class="locationItem__title">
        {{placeData.title}}
    </div> -->
    <div class="locationItem__info">
        <div class="placeDetails">
            <div class="placeDetails__main">
                <!-- Название -->
                <div class="placeDetails__title">{{placeData?.title || 'Название заведения'}}</div>
                <!-- Рейтинг -->
                <div class="placeDetails__rating"
                    [ngStyle]="{
                        color: placeData?.rating < 4 ? '#D70015'
                        : placeData?.rating <= 4.5 ? '#D78E00'
                        : '#248A3D'
                    }"
                >
                    {{(placeData?.rating || 5) | number: '.1-2'}}
                </div>
            </div>
            <!-- Подробности локации -->
            <div class="placeDetails__addit">
                <div class="placeDetails__another">
                    <!-- $$$ -->
                    <div class="placeDetails__anotherItem">
                        <span *ngFor="let item of operatePriceRange(placeData?.priceRange)">$</span>
                    </div>
                    <!-- Ресторан -->
                    <span class="placeDetails__anotherItem placeDetails__anotherItem--withEllipsis">{{placeData?.subcategory || 'Кафе'}}</span>
                    <!-- Кухня -->
                    <span *ngIf="placeData?.subtitle"
                        class="placeDetails__anotherItem placeDetails__anotherItem--withEllipsis"
                    >
                        {{placeData.subtitle.split(' ')[0]}}
                    </span>
                </div>
                <div class="placeDetails__address">{{placeData?.address}}</div>
            </div>

            <div class="skeletonLoader"></div>
        </div>
    </div>
</div>

<ng-template #defaultPlaceImg>
    <img src="assets/images/restaurant(1.8mb).jpg" alt="Картинка локации">
</ng-template>
