<!-- <div class="radioButtonControl">
    {{selectedItems}}
    <div class="radioButtonControl__value">
        <div class="radioButton" [ngClass]="{'radioButton--disabled': disabledControl}">
            <div *ngFor="let item of options.items" (click)="selectValue(item)" [ngClass]="{'radioButton__item--selected': item.selected}" class="radioButton__item">
                {{item.caption}}
            </div>
        </div>
    </div>
</div> -->

<div class="dropdownControl"
    [ngClass]="{
        'dropdownControl--listOnTop': listOnTop,
        'dropdownControl--open': !closedState && highlightHead,
        'dropdownControl--disabled': disabledControl
    }"
>
    <div (click)="toggleState($event)" class="dropdownControl__head">

        <div class="dropdownControl__values" [innerHTML]="dropdownHead || selectedItems || 'Не выбрано'"></div>

        <ng-container *ngIf="showArrowIcon">
            <div class="dropdownControl__customIcon"
                *ngIf="arrowIcon; else defaultIcon"
                [ngStyle]="{ backgroundImage: generateIconPath(arrowIcon) }">
            </div>
            <ng-template #defaultIcon>
                <div class="dropdownControl__icon"></div>
            </ng-template>
        </ng-container>

    </div>

    <!-- <div class="dropdownControl__list"
        appClickOutside
        (clickOutside)="clickOutside()"
        [ngClass]="{'dropdownControl__list--hidden': closedState}"
    >
        <div *ngFor="let item of options.items"
            [ngClass]="{'dropdownControl__item--selected': item.selected}"
            (click)="selectValue(item)"
            class="dropdownControl__item"
        >
            {{item.caption}}
        </div>
    </div> -->

    <div class="dropdownControl__newList"
        appClickOutside
        (clickOutside)="clickOutside()"
        [ngClass]="{'dropdownControl__newList--hidden': closedState}"
    >
        <div *ngFor="let item of options.items"
            [ngClass]="{'dropdownControl__item--selected': item.selected}"
            (click)="selectValue(item)"
            class="dropdownControl__item"
        >
            <div class="dropdownMobileList__itemVal">
                <span *ngIf="item.caption" class="dropdownMobileList__itemCaption">{{item.caption}}</span>
                <span class="dropdownMobileList__itemAddInfo">{{item.details}}</span>
            </div>
            <div class="dropdownMobileList__itemSelected">&#10003;</div>
        </div>
    </div>

    <div class="dropdownMobileList" [ngClass]="{'dropdownMobileList--hidden': closedState}">
        <div (click)="clickOutside(true)" class="dropdownMobileList__background"></div>
        <div class="dropdownMobileList__listWrap">
            <div class="dropdownMobileList__list">
                <div class="dropdownMobileList__item"
                    *ngFor="let item of options.items"
                    [ngClass]="{'dropdownMobileList__item--selected': item.selected}"
                    (click)="selectValue(item)"
                >
                    <div class="dropdownMobileList__itemVal">
                        <span *ngIf="item.caption" class="dropdownMobileList__itemCaption">{{item.caption}}</span>
                        <span class="dropdownMobileList__itemAddInfo">{{item.details}}</span>
                    </div>
                    <div class="dropdownMobileList__itemSelected">&#10003;</div>
                </div>
            </div>
        </div>
    </div>
</div>