$color-main-red: #e60028;
$color-main-black: #282423;
$color-main-gray: #c4c4c4;
$color-main-gray1: #a8a8a8;
$color-main-white: #fff;
$color-main-white1: #f4f4f4;

$color-main-blue: #5532EB;

:host(.ng-invalid.ng-touched) {
    color: $color-main-red;
}

.dropdownControl {
    // font-size: 18px;
    // font-weight: 600;
    position: relative;
    user-select: none;
    .dropdownControl__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        padding: 8px 16px;
        border-radius: 12px;
        min-height: 38px;
        font-weight: 700;

        .dropdownControl__values {
            text-overflow: ellipsis;
            overflow: hidden;
            flex: 1;
        }

        .dropdownControl__customIcon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-left: 4px;
        }

        .dropdownControl__icon {
            width: 17px;
            height: 16px;
            position: relative;
            margin-left: 4px;

            &:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-bottom: 3px solid var(--color-black);
                border-right: 3px solid var(--color-black);
                border-radius: 0 0 2px 0;
                top: 2px;
                left: 4px;
                transform: rotate(45deg);
            }
        }
    }

    .dropdownControl__list {
        display: none;
        position: absolute;
        transform: translateY(8px);
        border-radius: 19px;
        overflow-x: hidden;
        width: 100%;
        .dropdownControl__item {
            cursor: pointer;
            padding: 8px 16px;
            background-color: $color-main-white1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &--selected {
                color: $color-main-blue;
            }

            &:hover {
                color: $color-main-blue;
            }
        }

        &--hidden {
            height: 0;
            // display: none;
        }
    }

    .dropdownControl__newList {
        display: none;
        position: absolute;
        z-index: 20;
        right: 0;
        transform: translateY(8px);
        overflow: hidden;
        padding: 12px;
        border-radius: 16px;
        background-color: var(--color-gray1);

        .dropdownControl__item {
            padding: 12px;
            background-color: var(--color-white);
            border-radius: 12px;
            margin-bottom: 4px;
            display: flex;
            justify-content: space-between;

            &:hover:not(.dropdownControl__item--selected) {
                cursor: pointer;
                color: $color-main-blue;
                .dropdownMobileList__itemVal {
                    .dropdownMobileList__itemCaption {
                        color: $color-main-blue;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .dropdownMobileList__itemVal {
                display: flex;
                column-gap: 12px;
                text-wrap: nowrap;
                .dropdownMobileList__itemCaption {
                    color: var(--color-text-gray);
                }
            }

            .dropdownMobileList__itemSelected {
                // font-family: "Inter";
                margin-left: 12px;
                display: none;
            }

            &--selected {
                .dropdownMobileList__itemSelected {
                    display: block;
                }
            }
        }

        &--hidden {
            height: 0;
            padding: 0;
            // display: none;
        }
    }

    &--disabled {
        opacity: 0.3;
        .dropdownControl__head {
            cursor: not-allowed;
        }
    }

    &--open {
        .dropdownControl__head {
            background-color: var(--color-black1);
            color: $color-main-white;
            .dropdownControl__icon {
                transform: rotate(180deg);
                &:before {
                    border-color: $color-main-white;
                }
            }
        }
    }

    &--listOnTop {
        .dropdownControl__list {
            bottom: 100%;
            transform: translateY(-8px);
        }
    }

    @media (min-width: 768px) {
        .dropdownControl__list, .dropdownControl__newList {
            display: block;
        }
    }
}

.dropdownMobileList {
    position: relative;
    .dropdownMobileList__background {
        background-color: rgba(51, 51, 51, 0.72);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .dropdownMobileList__listWrap {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 20px;
        background-color: $color-main-white1;
        left: 0;
        z-index: 110;
        border-radius: 24px 24px 0 0;

        .dropdownMobileList__list {

            max-height: 80vh;
            overflow: scroll;

            .dropdownMobileList__item {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                font-size: 16px;
                line-height: 24px;
                background-color: $color-main-white;
                padding: 12px;
                border-radius: 12px;
                margin-bottom: 4px;

                .dropdownMobileList__itemVal {
                    display: flex;
                    column-gap: 12px;

                    .dropdownMobileList__itemCaption {
                        color: $color-main-gray1;
                    }

                    // .dropdownMobileList__itemAddInfo {
                    //     margin-left: 12px;
                    // }
                }

                .dropdownMobileList__itemSelected {
                    // font-family: "Inter";
                    display: none;
                }

                &--selected {
                    .dropdownMobileList__itemSelected {
                        display: block;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--hidden {
        display: none;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.descriptionBtn {
    display: inline-block;
    border-radius: 20px;
    user-select: none;
    background-color: $color-main-gray;
    color: white;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    letter-spacing: 0;
    cursor: pointer;
    transition: .2s;

    &:before {
        content: "";
        width: 50px;
        height: 46px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        opacity: 0.3;
    }

    &:hover {
        transform: scale(1.3);
        color: $color-main-black;
    }
}