<!-- <div class="radioButtonControl">
    {{selectedItems}}
    <div class="radioButtonControl__value">
        <div class="radioButton" [ngClass]="{'radioButton--disabled': disabledControl}">
            <div *ngFor="let item of options.items" (click)="selectValue(item)" [ngClass]="{'radioButton__item--selected': item.selected}" class="radioButton__item">
                {{item.caption}}
            </div>
        </div>
    </div>
</div> -->

<div class="dropdownControl" [class.dropdownControl--listOnTop]="listOnTop" [class.dropdownControl--open]="!closedState" [class.dropdownControl--disabled]="disabledControl">
    <div (click)="toggleState($event)" class="dropdownControl__head">
        <div class="dropdownControl__values">
            {{selectedItems}}
        </div>
        <div *ngIf="arrowIcon; else defaultIcon" [ngStyle]="{backgroundImage: generateIconPath(arrowIcon)}" class="dropdownControl__customIcon"></div>
        <ng-template #defaultIcon>
            <div class="dropdownControl__icon"></div>
        </ng-template>
    </div>
    <div class="dropdownControl__list" appClickOutside (clickOutside)="clickOutside()" [ngClass]="{'dropdownControl__list--hidden': closedState}">
        <div *ngFor="let item of options.items" [ngClass]="{'dropdownControl__item--selected': item.selected}" (click)="selectValue(item)" class="dropdownControl__item">
            {{item.caption}}
        </div>
    </div>
</div>