/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body {
    height: 100%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
}

body {
    margin: 0;
    color: var(--color-black1);
    background-color: $color-background;

    &.no-scroll {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
}

// Этим отключаем scrollBar во всем приложении:
::-webkit-scrollbar { 
    display: block;
}

::-webkit-scrollbar:vertical {
    width: 0px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

.linkToApp {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    .linkToApp__item {
        cursor: pointer;
        .linkToApp__img {
            // display: block;
            max-height: 44px;
    
            @media #{$notMobile} {
                max-height: 48px;
            }
        }
    }
}

.btn {
    cursor: pointer;
    padding: 12px 24px;
    background-color: $color-main;
    border: none;
    color: var(--color-white);
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &--size--long {
        width: 100%;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: .3;
    }

    @media #{$notMobile} {
        font-size: 18px;
    }
}

.moduleTitle {
    font-weight: 700;
    font-size: 32px;

    &--main {
        font-size: 40px;
    }

    // @media #{$notMobile} {
    //     font-size: 48px;

    //     &--main {
    //         font-size: 64px;
    //     }
    // }
}

.downloadApp {
    cursor: pointer;
    padding: 24px 32px;
    background-color: var(--color-white);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

    .downloadApp__title {
        line-height: 24px;
    }

    .downloadApp__icon {
        margin-left: 20px;

        img {
            max-width: 100%;
        }
    }
}

// .loaderBlock {
//     position: relative;
//     width: 200px;
//     height: 200px;
//     border: 1px solid;
// }