<main class="page">
    <div class="container page__container">
        <!-- <section class="aboutApp">
            <h2 class="moduleTitle moduleTitle--main">Dazzlink App</h2>
            <div class="aboutApp__slogan">
                {{getContent('home-aboutApp-slogan')}}
            </div>
            <div class="aboutApp__links">
                <div class="linkToApp">
                    <a href="https://apps.apple.com/ru" target="_blank" class="linkToApp__item">
                        <img src="assets/images/store/linkIOS.png" class="linkToApp__img" alt="linkIOS">
                    </a>
                    <a href="https://play.google.com" target="_blank" class="linkToApp__item">
                        <img src="assets/images/store/linkAndroid.png" class="linkToApp__img" alt="linkAndroid">
                    </a>
                </div>
            </div>
            <picture class="aboutApp__mockup">
                <img src="assets/images/mockupSmall.png" alt="mockup">
            </picture>
        </section> -->

        <picture class="mainPicture">
            <source media="(max-width: 767px)" srcset="assets/images/home-page/mainPicForMobile.png" />
            <img src="assets/images/home-page/mainPic.png" class="mainPicture__img" alt="mainPicture" />
        </picture>

        <!-- <picture class="mainPicture">
            <div class="mainPicture__block">
                <a href="assets/images/home-page/mainPicForMobile.png"
                    class="progressive replace"
                    data-srcset="assets/images/home-page/mainPicForMobile.png 767w, assets/images/home-page/mainPic.png"
                    data-sizes="100vw"
                >
                    <img src="assets/images/home-page/smallMainPicForMobile.png"
                        srcset="assets/images/home-page/smallMainPicForMobile.png 767w, assets/images/home-page/smallMainPic.png"
                        sizes="100vw"
                        class="preview"
                        alt="previewImage"
                    />
                </a>
            </div>
        </picture> -->

        <!-- <picture *ngIf="false" class="mainPicture mainPicture--preview">
            <div class="mainPicture__block">
                <img class="mainPicture__image" src="assets/images/home-page/smallMainPic.png" alt="smallMainPicture">
            </div>
        </picture> -->

        <!-- <app-progressive-image scrolledElName="pageWrap" fullImageSrc="assets/images/home-page/mainPic.png" tinyImageSrc="assets/images/home-page/smallMainPic.png"></app-progressive-image> -->

        <div class="aboutAppInfo">
            <div class="aboutAppInfo__text">
                <h2 class="moduleTitle moduleTitle--main aboutAppInfo__moduleTitle">{{getContent('home-aboutAppInfo-title')}}</h2>
                <div class="aboutAppInfo__cont">
                    {{getContent('home-aboutAppInfo-cont')}}
                </div>
            </div>
            <div class="aboutAppInfo__infoLinks aboutAppInfo__infoLinks--forDesktop">
                <div class="linkToApp">
                    <a href="https://www.apple.com/app-store" target="_blank" class="linkToApp__item">
                        <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="linkIOS">
                    </a>
                    <a href="https://play.google.com" target="_blank" class="linkToApp__item">
                        <img src="assets/images/store/linkAndroidLite.svg" class="linkToApp__img" alt="linkAndroid">
                    </a>
                    <a href="https://appgallery.huawei.com" target="_blank" class="linkToApp__item">
                        <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="linkAppGallery">
                    </a>
                </div>
            </div>
            <div class="aboutAppInfo__infoLinks aboutAppInfo__infoLinks--forMobile">
                <div (click)="mobileDetectService?.goToDeviceStore()" class="downloadApp">
                    <div class="downloadApp__title">Скачайте<br>приложение</div>
                    <div class="downloadApp__icon">
                        <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="storeIcon">
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigationMenu">
            <div class="navigationMenu__item">
                <div (click)="onAccoTriggerClick(['/articles'])" class="squareNavBtn">
                    <div class="squareNavBtn__image">
                        <!-- <img src="assets/images/home-page/linkToArticlesX2.jpg" alt="linkToArticles"> -->
                        <a href="assets/images/home-page/linkToArticlesX2.jpg" class="progressive replace">
                            <img src="assets/images/home-page/smallLinkToArticles.jpg" class="preview" alt="linkToArticles" />
                        </a>
                    </div>
                    <div class="squareNavBtn__title">
                        Медиа про отношения
                    </div>
                </div>
            </div>
            <div class="navigationMenu__item">
                <div (click)="onAccoTriggerClick(['/locations'])" class="squareNavBtn">
                    <div class="squareNavBtn__image">
                        <!-- <img src="assets/images/home-page/linkToLocationX2.jpg" alt="linkToLocation"> -->
                        <a href="assets/images/home-page/linkToLocationX2.jpg" class="progressive replace">
                            <img src="assets/images/home-page/smallLinkToLocation.jpg" class="preview" alt="linkToLocation" />
                        </a>
                    </div>
                    <div class="squareNavBtn__title">
                        Локации для свиданий
                    </div>
                </div>
            </div>
            <div class="navigationMenu__item">
                <div class="squareNavBtn">
                    <div class="squareNavBtn__image">
                        <!-- <img src="assets/images/home-page/linkToPsychologyX2.jpg" alt="linkToPsychology"> -->
                        <a href="assets/images/home-page/linkToPsychologyX2.jpg" class="progressive replace">
                            <img src="assets/images/home-page/smallLinkToPsychology.jpg" class="preview" alt="linkToPsychology" />
                        </a>
                    </div>
                    <div class="squareNavBtn__title">
                        Психоло&shy;гические тесты
                    </div>
                </div>
            </div>
        </nav>
        <section class="appOpportunity">
            <!-- <div class="appOpportunity__head">
                <h3 class="moduleTitle">Dazzlink – это</h3>
                <div class="appOpportunity__desc">
                    {{getContent('home-appOpportunity-desc')}}
                </div>
                <div class="appOpportunity__join">
                    <button (click)="mobileDetectService.goToDeviceStore()" class="btn btn--size--long">{{getContent('home-appOpportunity-join')}}</button>
                </div>
            </div> -->
            <ul class="appOpportunity__menu">
                <li class="menuAcco appOpportunity__item">
                    <div class="menuAcco__trigger">
                        <app-acco-trigger
                            [options]="{ caption: appOpportunityMenu.media.caption }"
                            type="link"
                            (click)="onAccoTriggerClick(['/articles'])"
                        >
                        </app-acco-trigger>
                    </div>
                </li>
                <li class="menuAcco appOpportunity__item">
                    <div class="menuAcco__trigger">
                        <app-acco-trigger
                            [options]="{ caption: appOpportunityMenu.locations.caption }"
                            [(ngModel)]="appOpportunityMenu.locations.active"
                        >
                        </app-acco-trigger>
                    </div>
                    <div class="menuAcco__content" [class.menuAcco__content--hidden]="!appOpportunityMenu.locations.active">
                        <div class="appAdv">
                            <div class="appAdv__image">
                                <img src="assets/images/appAdv1.png" alt="appAdvantage">
                            </div>
                            <div class="appAdv__content">
                                <h3 class="moduleTitle">
                                    Знакомься онлайн
                                </h3>
                                <div class="appAdv__text">
                                    Если ты стремишься встретить новых людей, в Dazzlink ты найдешь все функции, призванные сделать невозможное возможным.
                                    Знакомиться онлайн — это просто.
                                </div>
                            </div>
                        </div>
                        <div class="appAdv">
                            <div class="appAdv__image">
                                <img src="assets/images/appAdv2.png" alt="appAdvantage">
                            </div>
                            <div class="appAdv__content">
                                <h3 class="moduleTitle">
                                    Выходи в оффлайн
                                </h3>
                                <div class="appAdv__text">
                                    Если ты стремишься встретить новых людей, то Dazzlink поможет организовать тебе свидание.
                                    Предложит места для встречи, забронирует столик и оформит скидку.
                                </div>
                            </div>
                        </div>
                        <div class="appAdv">
                            <div class="appAdv__image">
                                <img src="assets/images/appAdv1.png" alt="appAdvantage">
                            </div>
                            <div class="appAdv__content">
                                <h3 class="moduleTitle">
                                    Общайся с умом
                                </h3>
                                <div class="appAdv__text">
                                    Если ты стремишься встретить новых людей,
                                    в Dazzlink ты найдешь помощь в определении психологической совместимости и осознанном выборе партнера.
                                </div>
                            </div>
                        </div>
                        <div class="appAdv appAdv--forDesktop">
                            <div class="appAdv__image">
                                <img src="assets/images/appAdv3.png" alt="appAdvantage">
                            </div>
                            <div class="appAdv__content">
                                <h3 class="moduleTitle">
                                    Скачайте приложение
                                </h3>
                                <div class="appAdv__text">
                                    Тысячи людей уже доверили нам свою судьбу,
                                    присоединяйтесь и найдите любовь на всю жизнь
                                </div>
                                <div class="linkToApp appAdv__links">
                                    <a href="https://www.apple.com/app-store" target="_blank" class="linkToApp__item">
                                        <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="linkIOS">
                                    </a>
                                    <a href="https://play.google.com" target="_blank" class="linkToApp__item">
                                        <img src="assets/images/store/linkAndroidLite.svg" class="linkToApp__img" alt="linkAndroid">
                                    </a>
                                    <a href="https://appgallery.huawei.com" target="_blank" class="linkToApp__item">
                                        <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="linkAppGallery">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="appAdv appAdv--forMobile">
                            <div (click)="mobileDetectService?.goToDeviceStore()" class="downloadApp appAdv__download">
                                <div class="downloadApp__title">Скачайте<br>приложение</div>
                                <div class="downloadApp__icon">
                                    <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="storeIcon">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menuAcco appOpportunity__item">
                    <div class="menuAcco__trigger">
                        <app-acco-trigger
                            [options]="{ caption: appOpportunityMenu.company.caption }"
                            type="link"
                            (click)="onAccoTriggerClick(['/agreements'])"
                        >
                        </app-acco-trigger>
                    </div>
                </li>
                <li class="menuAcco appOpportunity__item">
                    <div class="menuAcco__trigger">
                        <app-acco-trigger
                            [options]="{ caption: appOpportunityMenu.conditions.caption }"
                            [(ngModel)]="appOpportunityMenu.conditions.active"
                        >
                        </app-acco-trigger>
                    </div>
                    <div class="menuAcco__content" [class.menuAcco__content--hidden]="!appOpportunityMenu.conditions.active">
                        <div class="aboutCompany">
                            Тарифы и условия
                        </div>
                    </div>
                </li>
                <li class="menuAcco appOpportunity__item">
                    <div class="menuAcco__trigger">
                        <app-acco-trigger
                            [options]="{ caption: appOpportunityMenu.questions.caption }"
                            [(ngModel)]="appOpportunityMenu.questions.active"
                        >
                        </app-acco-trigger>
                    </div>
                    <div class="menuAcco__content" [class.menuAcco__content--hidden]="!appOpportunityMenu.questions.active">
                        <div class="aboutCompany">
                            Помощь и частые вопросы
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="navTetris">
            <div class="navTetris__row navTetris__row--wrap">
                <div class="navTetris__block">
                    <app-acco-trigger
                        [options]="{ caption: appOpportunityMenu.tariff.caption }"
                        type="link"
                        (click)="onAccoTriggerClick(['/agreements'])"
                    >
                    </app-acco-trigger>
                </div>
                <div class="navTetris__block navTetris__block--size--wide">
                    <app-acco-trigger
                        [options]="{ caption: appOpportunityMenu.linkToQuestions.caption }"
                        type="link"
                        (click)="onAccoTriggerClick(['/agreements'])"
                    >
                    </app-acco-trigger>
                </div>
            </div>
            <div class="navTetris__row navTetris__row--nowrap">
                <div class="navTetris__block navTetris__block--size--wide">
                    <app-acco-trigger
                        [options]="{ caption: appOpportunityMenu.legalInf.caption }"
                        type="link"
                        (click)="onAccoTriggerClick(['/agreements'])"
                    >
                    </app-acco-trigger>
                </div>
                <div class="navTetris__block">
                    <app-acco-trigger
                        [options]="{ caption: appOpportunityMenu.linkToCompany.caption }"
                        type="link"
                        (click)="onAccoTriggerClick(['/agreements'])"
                    >
                    </app-acco-trigger>
                </div>
            </div>
        </section>
    </div>
</main>