<main class="page">
    <div class="container page__container">
        <section class="aboutApp">
            <div class="aboutApp__title">Dazzlink App</div>
            <div class="aboutApp__slogan">
                Если ты ищешь новые знакомства, то в Dazzlink ты найдешь все функции, призванные сделать невозможное возможным. 
            </div>
            <div class="aboutApp__links">
                <div class="linkToApp">
                    <a href="https://apps.apple.com/ru" target="_blank" class="linkToApp__item">
                        <img src="assets/images/linkIOS.png" class="linkToApp__img" alt="linkIOS">
                    </a>
                    <a class="linkToApp__item">
                        <img src="assets/images/linkAndroid.png" class="linkToApp__img" alt="linkAndroid">
                    </a>
                </div>
            </div>
            <picture class="aboutApp__mockup">
                <img src="assets/images/mockup.png" alt="mockup">
            </picture>
        </section>
    </div>
</main>