<main class="page">
    <div class="container page__container">

        <!-- <div class="example"></div> -->

        <div
            class="mainVideo"
            [ngClass]="{
                'mainVideo--afterLoadPosterImg': posterImgLoad(),
                'mainVideo--afterLoadVideo': videoLoad()
            }"
        >
            <!-- Todo: нужно будет добавить событие (error) на видео когда не удастся его загрузить чтоб на баннере не показывался значок "play" и курсор был не pointer. Только у него слабая поддержка браузеров поэтому скорее всего придется прибегнуть к событию canplay -->
            <video #advertisingVideo class="mainVideo__video" playsinline controls>
                <source src="https://static.dazzlink.asia/landing/advertisingRus.mp4" type="video/mp4" />
                Ваш браузер не поддерживает встроенные видео.
            </video>
            <div
                class="mainVideo__customPoster"
                (click)="onVideoPlay()"
                [class.mainVideo__customPoster--hidden]="!showVideoPoster()"
            >
                <img
                    class="mainVideo__posterImg"
                    (load)="onloadCustomPoster()"
                    src="assets/images/home-page/bannerForVideo.png"
                    alt="poster"
                />
                <div class="playIcon"></div>
            </div>
        </div>

        <!-- <picture class="mainPicture">
            <source media="(max-width: 767px)" srcset="assets/images/home-page/mainPicForMobile.png" />
            <img src="assets/images/home-page/mainPic.png" class="mainPicture__img" alt="mainPicture" />
        </picture> -->

        <!-- <picture class="mainPicture">
            <div class="mainPicture__block">
                <a href="assets/images/home-page/mainPicForMobile.png"
                    class="progressive replace"
                    data-srcset="assets/images/home-page/mainPicForMobile.png 767w, assets/images/home-page/mainPic.png"
                    data-sizes="100vw"
                >
                    <img src="assets/images/home-page/smallMainPicForMobile.png"
                        srcset="assets/images/home-page/smallMainPicForMobile.png 767w, assets/images/home-page/smallMainPic.png"
                        sizes="100vw"
                        class="preview"
                        alt="previewImage"
                    />
                </a>
            </div>
        </picture> -->

        <!-- <picture *ngIf="false" class="mainPicture mainPicture--preview">
            <div class="mainPicture__block">
                <img class="mainPicture__image" src="assets/images/home-page/smallMainPic.png" alt="smallMainPicture">
            </div>
        </picture> -->

        <!-- <app-progressive-image scrolledElName="pageWrap" fullImageSrc="assets/images/home-page/mainPic.png" tinyImageSrc="assets/images/home-page/smallMainPic.png"></app-progressive-image> -->

        <!-- <img [src]="base64ForImg" alt="img"> -->

        <!-- <img #thumbHashDemo width="300" height="200"> -->

        <div class="aboutAppInfo">
            <div class="container aboutAppInfo__container">
                <div class="aboutAppInfo__text">
                    <h1 class="moduleTitle">Dazzlink: постройте великолепные отношения </h1>
                    <div class="aboutAppInfo__cont">
                        Знакомства для тех, кто ищет спутника
                        на всю жизнь, а не мимолетных встречи.
                        Доступно в крупных городах Узбекистана
                    </div>
                </div>
                <div class="aboutAppInfo__infoLinks forDesktop">
                    <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                </div>
                @if (mobileDetectService.osDevice) {
                    <div class="aboutAppInfo__infoLinks forMobile">
                        <button class="downloadApp"
                            type="button"
                            (click)="mobileDetectService?.goToDeviceStore()"
                        >
                            <div class="downloadApp__title">Скачайте<br />приложение</div>
                            <div class="downloadApp__icon">
                                <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="store" />
                            </div>
                        </button>
                    </div>
                } @else {
                    <div class="aboutAppInfo__infoLinks forMobile">
                        <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                    </div>
                }
            </div>
        </div>

        @if (citiesForCarousel()?.length) {
            <div class="cityCarousel">
                <ul
                    class="cityCarousel__list"
                    [ngStyle]="{
                        '--card-count': citiesForCarousel().length
                    }"
                >
                    @for (city of citiesForCarousel(); track city.code) {
                        <li class="cityCarousel__item">
                            <div class="cityCard">
                                @if (city.imageList.length) {
                                    <app-city-carousel-image [imageData]="city.imageList[0]"></app-city-carousel-image>
                                }
                                <!-- <img [src]="city.imageList.href" alt="pic">
                                <img [src]="'assets/images/home-page/bannerForVideo.png'" alt="pic">
                                {{city.title}} -->
                                <div class="cityCard__name">
                                    {{city.title}}
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }

        <section class="appAdv">
            <ul class="appAdv__list">
                <li class="appAdv__item">
                    <div class="appAdv__image">
                        <img src="assets/images/home-page/appAdv1.png" alt="appAdvantage">
                    </div>
                    <div class="appAdv__content">
                        <h2 class="moduleTitle">
                            Знакомьтесь онлайн
                        </h2>
                        <div class="appAdv__text">
                            Подходите к выбору собеседника осознанно.
                            Фотографии откроются только после начала общения,
                            до этого делайте выбор сердцем
                        </div>
                    </div>
                </li>
                <li class="appAdv__item">
                    <div class="appAdv__image">
                        <img src="assets/images/home-page/appAdv2.png" alt="appAdvantage">
                    </div>
                    <div class="appAdv__content">
                        <h2 class="moduleTitle">
                            Переходите от слов к делу
                        </h2>
                        <div class="appAdv__text">
                            Выбирайте романтические места для свиданий и приглашайте друг друга прямо в приложении.
                        </div>
                    </div>
                </li>
                <li class="appAdv__item">
                    <div class="appAdv__image">
                        <img src="assets/images/home-page/appAdv3.png" alt="appAdvantage">
                    </div>
                    <div class="appAdv__content">
                        <h2 class="moduleTitle">
                            Изучайте тему отношений
                        </h2>
                        <div class="appAdv__text">
                            Статьи про любовь, отношения, знакомства, свидания, семейную жизнь.
                            Расскажем, как сохранить счастье на долгие годы
                        </div>
                    </div>
                </li>
                <li class="appAdv__item">
                    <div class="appAdv__image">
                        <img src="assets/images/home-page/appAdv4.png" alt="appAdvantage">
                    </div>
                    <div class="appAdv__content">
                        <h2 class="moduleTitle">
                            Скачайте приложение
                        </h2>
                        <div class="appAdv__text">
                            Сотни людей уже доверили нам свою судьбу, присоединяйтесь и вы,
                            чтобы найти любовь на всю жизнь и создать семью

                            <div class="appAdv__infoLinks forDesktop">
                                <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                            </div>
                            @if (mobileDetectService.osDevice) {
                                <div class="appAdv__infoLinks forMobile">
                                    <button class="downloadApp"
                                        type="button"
                                        (click)="mobileDetectService?.goToDeviceStore()"
                                    >
                                        <div class="downloadApp__title">Скачайте<br />приложение</div>
                                        <div class="downloadApp__icon">
                                            <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="store" />
                                        </div>
                                    </button>
                                </div>
                            } @else {
                                <div class="appAdv__infoLinks forMobile">
                                    <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                                </div>
                            }
                        </div>

                    </div>
                </li>
            </ul>
        </section>

    </div>
</main>

<ng-template #linkToApp>
    <div class="linkToApp">
        <a
            href="https://www.apple.com/app-store"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="IOS" />
        </a>
        <a
            href="https://play.google.com"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkAndroid.svg" class="linkToApp__img" alt="Android" />
        </a>
        <a
            href="https://appgallery.huawei.com"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="AppGallery" />
        </a>
    </div>
</ng-template>