@import "variables";

.page {

    margin-top: 20px;
    margin-bottom: 32px;

    @media #{$notMobile} {
        margin-top: 34px;
        margin-bottom: 100px;
    }
}

.aboutApp {

    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutApp__title {
        font-size: 36px;
    }

    .aboutApp__slogan {
        margin-top: 16px;
        max-width: 310px;
        text-align: center;
        font-size: 14px;
    }

    .aboutApp__links {
        margin-top: 16px;
    }

    .aboutApp__mockup {
        margin-top: 64px;
        img {
            max-width: 100%;
            // display: block;
        }
    }

    @media #{$notMobile} {
        .aboutApp__title {
            font-size: 64px;
        }
        .aboutApp__slogan {
            max-width: 580px;
            font-size: 18px;
        }
    }
}