@import "variables";

.page {

    .page__container {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    @media #{$notMobile} {
        .page__container {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}

.mainVideo {
    border-radius: 28px;
    width: 100%;
    @media #{$notMobile} {
        border-radius: 36px;
    }
}

.aboutApp {

    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutApp__slogan {
        margin-top: 16px;
        max-width: 310px;
        text-align: center;
    }

    .aboutApp__links {
        margin-top: 16px;
    }

    .aboutApp__mockup {
        margin-top: 64px;
        width: 100%;
        img {
            width: 100%;
        }
    }

    @media #{$notMobile} {
        .aboutApp__slogan {
            max-width: 580px;
            font-size: 18px;
        }
    }
}

.appOpportunity {
    .appOpportunity__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        .appOpportunity__desc {
            max-width: 586px;
            text-align: center;
            margin-top: 16px;
        }
        .appOpportunity__join {
            width: 100%;
            max-width: 328px;
            margin-top: 16px;
        }
    }

    .appOpportunity__menu {
        // margin-top: 72px;

        .appOpportunity__item {
            margin-bottom: 24px;
            &:last-child {
                margin: 0;
            }
        }
    }

    @media #{$notMobile} {
        .appOpportunity__head {
            .appOpportunity__desc {
                font-size: 18px;
            }
        }
        // .appOpportunity__menu {
        //     margin-top: 120px;
        // }
    }
}

.menuAcco {
    .menuAcco__content {
        margin: 64px 0px;
        &--hidden {
            display: none;
        }
    }

    &:last-child {
        .menuAcco__content {
            margin-bottom: 0px;
        }
    }

    @media #{$notMobile} {
        .menuAcco__content {
            margin: 120px 0px;
        }
    }
}

.appAdv {
    font-size: 24px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    column-gap: 11.7%;
    .appAdv__image {
        flex: 1;
        max-width: 500px;

        img {
            max-width: 100%;
        }
    }
    .appAdv__content {
        margin-top: 24px;
        flex: 1;
        .appAdv__text {
            margin-top: 12px;
        }
        .appAdv__links {
            margin-top: 24px;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &--forDesktop {
        display: none;
    }

    @media #{$notMobile} {
        margin-top: 160px;
        flex-direction: row;
        align-items: center;
        .appAdv__content {
            margin-top: 0;
            // .appAdv__text {
            //     font-size: 18px;
            // }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &--forDesktop {
            display: flex;
        }

        &--forMobile {
            display: none;
        }
    }
}

.mainPicture {
    display: block;
    overflow: hidden;
    border-radius: 32px;

    .mainPicture__img {
        width: 100%;
    }

    @media #{$notMobile} {
        border-radius: 48px;
    }
}

// .mainPicture {
//     .mainPicture__block {
//         overflow: hidden;
//         border-radius: 32px;
//         position: relative;
//         z-index: 10;
//         .mainPicture__image {
//             max-width: 100%;
//         }
//     }
//     &--preview {
//         .mainPicture__block {
//             .mainPicture__image {
//                 width: 100%;
//                 filter: blur(3px);
//                 cursor: wait;
//             }
//         }
//     }
//     @media #{$notMobile} {
//         .mainPicture__block {
//             border-radius: 48px;
//         }
//     }
// }

// Стили для progressive image:
// -start-
a.progressive {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
}

a.progressive:not(.replace) {
    cursor: default;
}

// a.progressive img {
//     display: block;
//     width: 100%;
//     max-width: none;
//     height: auto;
//     border: 0 none;
// }

a.progressive img.preview {
    filter: blur(2vw);
    transform: scale(1.05);
}

::ng-deep {
    a.progressive img {
        display: block;
        width: 100%;
        max-width: none;
        height: auto;
        border: 0 none;
    }
    a.progressive img.reveal {
        position: absolute;
        left: 0;
        top: 0;
        will-change: transform, opacity;
        animation: reveal 1s ease-out;
    }
}

@keyframes reveal {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
// -end-

.aboutAppInfo {
    display: flex;
    flex-direction: column;
    margin: 24px 0 72px;
    font-size: 24px;

    .aboutAppInfo__text {
        max-width: 586px;
        // flex: 1;

        .aboutAppInfo__cont {
            margin-top: 12px;
        }
    }

    .aboutAppInfo__infoLinks {
        margin-top: 24px;

        &--forDesktop {
            display: none;
        }

        &--forMobile {
            display: block;
        }
    }

    @media #{$notMobile} {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 40px;
        margin: 48px 0 120px;

        // .aboutAppInfo__moduleTitle {
        //     line-height: 60px;
        // }

        // .aboutAppInfo__cont {
        //     font-size: 18px;
        // }

        .aboutAppInfo__infoLinks {
            margin-top: 14px;
            &--forDesktop {
                display: block;
            }
            &--forMobile {
                display: none;
            }
        }
    }
}

.navigationMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 48px;
    margin-bottom: 72px;
    justify-content: center;

    .navigationMenu__item {
        display: flex;
        // flex: 1 1 230px;
    }

    @media #{$notMobile} {
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 120px;
    }
}

.squareNavBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray1);
    border-radius: 32px;
    overflow: hidden;
    cursor: pointer;

    .squareNavBtn__image {
        min-height: 180px;
        // max-width: 368px;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
        z-index: 10;
        img {
            max-width: 100%;
        }
    }

    .squareNavBtn__title {
        font-size: 24px;
        line-height: 32px;
        padding: 12px 24px 24px;
        text-align: center;
    }

    @media #{$notMobile} {
        .squareNavBtn__image {
            border-radius: 48px;
        }
        border-radius: 48px;
    }

    &:hover {
        .squareNavBtn__title {
            color: var(--color-blue1);
        }
    }
}

.navTetris {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 120px;

    .navTetris__row {
        display: flex;
        column-gap: 24px;
        row-gap: 24px;
        
        .navTetris__block {
            flex: 1;

            &--size--wide {
                flex: 2;
            }
        }

        &--wrap {
            flex-wrap: wrap;
        }

        &--nowrap {
            .navTetris__block {
                overflow: hidden;
            }
        }
    }

    @media #{$mobile} {
        margin-top: 72px;
        row-gap: 24px;

        .navTetris__row {
            flex-direction: column;
        }
    }
}