@use "breakpoints" as *;

.partner {
    display: flex;
    column-gap: 28px;
    border-radius: 20px;
    background-color: var(--color-location-partner-bg);
    .partner__desc {
        flex: 1;
        margin: 48px 0 32px 8px;
        font-weight: 700;
        .partner__title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 900;
            margin-bottom: 4px;
        }
        .partner__additInfo {
            display: flex;
            max-width: 100%;
            .partner__another {
                position: relative;
                padding-left: 13px;
                white-space: nowrap;
                &--withEllipsis {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 2.5px;
                    height: 2.5px;
                    border-radius: 50%;
                    background-color: var(--color-gray-medium);
                    top: 50%;
                    left: 0;
                    transform: translate(6px, -50%);
                }
                &:first-child {
                    padding-left: 0px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .partner__btn {
            margin-top: 24px;
            padding: 8px 16px;
            border-radius: 12px;
            border: none;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            position: relative;
            color: transparent;
            cursor: pointer;
            background-color: var(--color-location-partner-btn);

            .partner__customText {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                border-radius: 12px;

                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: url('src/assets/images/partnerBtn.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    @media #{$mobile} {
        overflow: hidden;
        flex-direction: column-reverse;
        padding: 0px;
        .partner__desc {
            margin: 24px 32px;
        }
        &--four-photo {
            .partner__photos {
                margin: 0px 24px;
            }
        }
        &--three-photo {
            .partner__photos {
                margin: 0px 24px;
            }
            .mansoryPhotos {
                margin-top: -32px;
                .mansoryPhotos__column {
                    &--first {
                        margin-top: 42px;
                        justify-content: center;
                    }
                }
            }
        }
        &--two-photo {
            .partner__photos {
                margin: 0px 24px;
            }
            .mansoryPhotos {
                margin-top: -32px;
                .mansoryPhotos__column {
                    &--first {
                        margin-top: 42px;
                        justify-content: center;
                    }
                }
            }
        }
        &--one-photo {
            .mansoryPhotos {
                margin-top: -80px;
            }
        }
    }
    @media #{$notMobile} {
        flex-direction: row;
        padding: 0 24px;
        .partner__photos {
            flex: 2;
            max-width: 384px;
            position: relative;
            overflow: hidden;
        }
        &--two-photo {
            .partner__photos {
                max-width: 372px;
            }
            .mansoryPhotos .mansoryPhotos__column {
                &--first {
                    margin-top: 84px;
                }
                &--second {
                    margin-top: 0px;
                }
            }
        }
        &--one-photo {
            padding-right: 0px;
            .partner__photos {
                max-width: 372px;
                .mansoryPhotos {
                    height: 100%;
                    .mansoryPhotos__column {
                        &--first {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}

.mansoryPhotos {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    @media #{$mobile} {
        display: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        min-width: fit-content;
        margin-top: -24px;
        .mansoryPhotos__column {
            display: flex;
            flex: 1;
            flex-direction: column;
            row-gap: 12px;
            &--first {
                margin-top: 12px;
            }
            &--third {
                margin-top: 12px;
            }
            .mansoryPhotos__item {
                position: relative;
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 16px;
                min-width: 120px;
            }
        }
        &--forMobile {
            display: flex;
        }
    }
    @media #{$notMobile} {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 100%;
        .mansoryPhotos__column {
            display: flex;
            flex: 1;
            flex-direction: column;
            row-gap: 12px;
            &--first {
                margin-top: 80px;
            }
            &--second {
                margin-top: 40px;
            }
            .mansoryPhotos__item {
                position: relative;
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 16px;
                .mansoryPhotos__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &--forMobile {
            display: none;
        }
    }
}