<!-- <ng-container *ngIf="posts$ | async as postList; else loadingTemplate">
    <ng-container *ngIf="postList.length; else empty">
        <div class="posts">
            <div class="posts__filter">
                <input type="text" placeholder="Фильтр постов..." [(ngModel)]="searchStr">
            </div>
            <div *ngFor="let post of postList | search:searchStr; let idx = index" class="posts__item">
                №{{idx + 1}}
                <app-post [postData]="post"></app-post>
            </div>
        </div>
    </ng-container>
</ng-container> -->

<main class="page">
    <div class="container page__container">
        <aside class="sidebar" [class.hiddenInMobile]="webview">
            <div class="aboutPage">
                <h2 class="moduleTitle moduleTitle--main">Медиа</h2>
                <div class="aboutPage__text">
                    {{getContent('articles-aboutPage-text')}}
                </div>
                <!-- <button (click)="mobileDetectService.goToDeviceStore()" *ngIf="!webview" class="btn aboutPage__btn">
                    Скачать приложение
                </button> -->
                <div class="aboutPage__links aboutPage__links--forDesktop">
                    <div class="linkToApp">
                        <a href="https://www.apple.com/app-store" target="_blank" class="linkToApp__item">
                            <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="linkIOS">
                        </a>
                        <a href="https://play.google.com" target="_blank" class="linkToApp__item">
                            <img src="assets/images/store/linkAndroidLite.svg" class="linkToApp__img" alt="linkAndroid">
                        </a>
                        <a href="https://appgallery.huawei.com" target="_blank" class="linkToApp__item">
                            <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="linkAppGallery">
                        </a>
                    </div>
                </div>
                <div class="aboutPage__links aboutPage__links--forMobile">
                    <div (click)="mobileDetectService?.goToDeviceStore()" class="downloadApp">
                        <div class="downloadApp__title">Скачайте<br>приложение</div>
                        <div class="downloadApp__icon">
                            <img [src]="mobileDetectService?.mobileStoreIconSrc()" alt="storeIcon">
                        </div>
                    </div>
                </div>
                <!-- <button (click)="implementErrorInGetAllArticles = !implementErrorInGetAllArticles" class="implementError">
                    implementError (now: {{implementErrorInGetAllArticles}})
                </button> -->
            </div>
        </aside>
        <main class="pageContent">

            <!-- Старый вариант -->
            <!-- <ng-container *ngIf="posts$ | async as postList; else loadingTemplate">
                <ng-container *ngIf="errorAfterGetAllArticles; else successGetAllArticles">
                    Есть проблема
                </ng-container>
                <ng-template #successGetAllArticles>
                    @if (postList.length) {
                        Статьи
                    } @else {
                        <ng-container *ngTemplateOutlet="empty"></ng-container> 
                    }
                </ng-template>
            </ng-container> -->

            <!-- Новый вариант -->
            <ng-container *ngIf="!isLoading; else loadingTemplate">
                <ng-container *ngIf="errorAfterGetAllArticles; else successGetAllArticles">
                    <div class="errorMessage">
                        <div class="errorMessage__icon"></div>
                        <div class="errorMessage__title">
                            Есть проблема
                        </div>
                        <div class="errorMessage__text">
                            Не смогли показать статьи, попробуйте<br>
                            перезагрузить страницу или зайдите позже
                        </div>
                        <button class="errorMessage__btn" (click)="reloadArticles()">Перезагрузить</button>
                    </div>
                </ng-container>
                <ng-template #successGetAllArticles>

                    @if (articlesList?.length) {
                        <ul class="pageContent__articles">
                            @for (post of articlesList; track trackPost; let lastIndex = $last, index = $index) {
                                @if (lastIndex) {
                                    <li #lastPostItem class="pageContent__itemOfArticle lastPostItem" [class.pageContent__itemOfArticle--viewed]="checkViewedOrNot(post.id)">
                                        <a [routerLink]="['/post', post.id]" class="pageContent__articleLink">
                                            <!-- {{index + 1}} -->
                                            <app-post [postData]="post"></app-post>
                                        </a>
                                    </li>
                                } @else {
                                    <li class="pageContent__itemOfArticle" [class.pageContent__itemOfArticle--viewed]="checkViewedOrNot(post.id)">
                                        <!-- <app-post (click)="goToPostPage(post.id)" [postData]="post"></app-post> -->
                                        <a [routerLink]="['/post', post.id]" target="_self" class="pageContent__articleLink">
                                            <!-- {{index + 1}} -->
                                            <app-post [postData]="post"></app-post>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                        @if (showLoadMoreSpinner) {
                            <div class="pageContent__loadMore">
                                <app-progress-spinner></app-progress-spinner>
                            </div>
                        }
                        <!-- Кнопка наверх -->
                        <!-- <div class="pageContent__scrollToTopBtn scrollProgressWrapper">
                            <div class="scrollProgress"
                                (click)="scrollToTop()"
                                [class.scrollProgress--hidden]="hideScrollProgress"
                            >
                            </div>
                        </div> -->
                    } @else {
                        <ng-container *ngTemplateOutlet="empty"></ng-container> 
                    }

                </ng-template>
            </ng-container>

            <!-- <ng-container *ngIf="posts$ | async as postList; else loadingTemplate">
                <ng-container *ngIf="postList.length; else empty">
                    <div class="posts">
                        <div class="posts__filter">
                            <input type="text" placeholder="Фильтр постов..." [(ngModel)]="searchStr">
                        </div>
                        <div *ngFor="let post of postList | search:searchStr; let idx = index" class="posts__item">
                            №{{idx + 1}}
                            <app-post [postData]="post"></app-post>
                        </div>
                    </div>
                </ng-container>
            </ng-container> -->
        </main>
    </div>
</main>

<app-loader *ngIf="isLoading"></app-loader>

<ng-template #empty>
    <!-- <p>Список статей пуст</p> -->
    <div class="errorMessage">
        <div class="errorMessage__icon"></div>
        <div class="errorMessage__title">
            Пока ничего нет
        </div>
        <div class="errorMessage__text">
            Сейчас список пуст, но мы уже собираем<br>
            полезный материал, зайдите позже
        </div>
        <button class="errorMessage__btn" routerLink="/">На главную</button>
    </div>
</ng-template>
<ng-template #loadingTemplate>
    <p>Идет загрузка статей...</p>
</ng-template>