@import "variables";

:host {
    // flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу. UPD: теперь эту роль выполняет contentWrapper

.page {

    .page__container {
        display: flex;
        flex-direction: column;

        margin-top: 20px;
        margin-bottom: 50px;
    }

    @media #{$notMobile} {

        .page__container {
            flex-direction: row;

            margin-top: 34px;
            margin-bottom: 140px;
        }
    }
}

.sidebar {
    // margin-right: 8%;
    flex: 1;
    // max-width: 360px;
    margin-bottom: 72px;

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

.hiddenInMobile {
    @media #{$mobile} {
        display: none;
    }
}

.aboutPage {
    .aboutPage__text {
        margin-top: 12px;
    }
    .aboutPage__links {
        margin-top: 24px;
        &--forDesktop {
            display: none;
        }
        &--forMobile {
            display: block;
        }
    }
    .aboutPage__btn {
        margin-top: 24px;
    }

    @media #{$notMobile} {
        .aboutPage__links {
            &--forDesktop {
                display: block;
            }
            &--forMobile {
                display: none;
            }
        }
    }
}

.pageContent {
    flex: 2;

    .pageContent__articles {
        display: flex;
        flex-direction: column;
        row-gap: 48px;

        .pageContent__itemOfArticle {
            &--viewed {
                opacity: .3;
            }
        }

        // .pageContent__itemOfArticle {
        //     flex-basis: calc(50% - 12px);

        //     &:nth-child(odd) {
        //         margin-right: 24px;
        //     }
        // }
    }

    @media #{$notMobile} {
        .pageContent__articles {
            flex-wrap: wrap;
            flex-direction: row;

            .pageContent__itemOfArticle {
                flex-basis: calc(50% - 12px);

                &:nth-child(odd) {
                    margin-right: 24px;
                }
            }
        }
    }
}