@import "variables";

:host {
    // flex: 1;
} // Это все для того чтобы когда контента мало footer все равно был прижат к низу. UPD: теперь эту роль выполняет contentWrapper

$shadowHeightInDesktop: 34px;
$shadowHeightInMobile: 20px;

.articlesPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .articlesPage__header {
        position: sticky;
        top: calc(var(--header-height) - $shadowHeightInMobile);
        z-index: 100;
        transition: .6s;

        &:after {
            content: '';
            position: absolute;
            height: $shadowHeightInMobile;
            width: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
        }

        &--visible {
            top: 0px;
        }
    }
    .articlesPage__main {
        flex: 1;
        .articlesPage__container {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            margin-bottom: 48px;
        }
    }
    @media #{$notMobile} {
        .articlesPage__header {
            top: calc(var(--header-height) - $shadowHeightInDesktop);
            &:after {
                height: $shadowHeightInDesktop;
            }
            &--visible {
                top: 0px;
            }
        }
        .articlesPage__main {
            .articlesPage__container {
                flex-direction: row;
                margin-top: 48px;
                margin-bottom: 48px;
            }
        }
    }
}

.sidebar {
    // margin-right: 8%;
    flex: 1;
    // max-width: 360px;
    margin-bottom: 32px;

    @media #{$notMobile} {
        margin-right: 0px;
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

// .implementError {
//     margin-top: 20px;
//     padding: 10px;
//     border-radius: 10px;
//     cursor: pointer;
// }

.hiddenInMobile {
    @media #{$mobile} {
        display: none;
    }
}

.aboutPage {
    .aboutPage__text {
        margin-top: 12px;
        line-height: 1.5;
    }
    .aboutPage__links {
        margin-top: 24px;
        &--forDesktop {
            display: none;
        }
        &--forMobile {
            display: block;
        }
    }
    .aboutPage__btn {
        margin-top: 24px;
    }

    @media #{$notMobile} {
        .aboutPage__links {
            &--forDesktop {
                display: block;
            }
            &--forMobile {
                display: none;
            }
        }
    }
}

.pageContent {
    flex: 2;

    .pageContent__articles {
        display: flex;
        flex-direction: column;
        row-gap: 48px;

        // .lastPostItem {
        //     background-color: red;
        // }

        // .pageContent__itemOfArticle {
        //     &--viewed {
        //         opacity: .3;
        //     }
        // }

        // .pageContent__itemOfArticle {
        //     flex-basis: calc(50% - 12px);

        //     &:nth-child(odd) {
        //         margin-right: 24px;
        //     }
        // }

        &--withGradientEffect {
            mask-image: linear-gradient(0deg, transparent, #000 400px);
        }
    }

    .pageContent__loadMore {
        margin-top: 32px;
        position: relative;
        height: 50px;
    }

    @media #{$notMobile} {
        .pageContent__articles {
            flex-wrap: wrap;
            flex-direction: row;

            .pageContent__itemOfArticle {
                flex-basis: calc(50% - 12px);

                &:nth-child(odd) {
                    margin-right: 24px;
                }
            }
        }

        .pageContent__loadMore {
            margin-top: 48px;
        }
    }

    @media #{$mobile} {
        .pageContent__articles {
            .pageContent__itemOfArticle {
                &.hideInMobile {
                    display: none;
                }
            }
        }
    }
}

.pageContent__scrollToTopBtn {
    margin-left: auto;

    .scrollProgress {
        right: 0;
    }
}