@use "breakpoints" as *;

$shadowHeightInDesktop: 34px;
$shadowHeightInMobile: 20px;

.articlesPage {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    .articlesPage__header {
        position: sticky;
        top: calc(var(--header-height) - $shadowHeightInMobile);
        z-index: 100;
        transition: .6s;

        &::after {
            content: '';
            position: absolute;
            height: $shadowHeightInMobile;
            width: 100%;
            background: linear-gradient(0deg, transparent, var(--color-main-bg));
        }

        &--visible {
            top: 0px;
        }
    }
    .articlesPage__main {
        flex: 1;
        .articlesPage__container {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            margin-bottom: 48px;
        }
    }
    @media #{$notMobile} {
        .articlesPage__header {
            top: calc(var(--header-height) - $shadowHeightInDesktop);
            &::after {
                height: $shadowHeightInDesktop;
            }
            &--visible {
                top: 0px;
            }
        }
        .articlesPage__main {
            .articlesPage__container {
                margin-top: 48px;
            }
        }
    }
    @media (min-width: 1025px) {
        .articlesPage__main {
            .articlesPage__container {
                flex-direction: row;
            }
        }
    }
}

.sidebar {
    // margin-right: 8%;
    flex: 1;
    // max-width: 360px;
    margin-bottom: 32px;

    @media #{$notMobile} {
        margin-bottom: 48px;
    }

    @media (min-width: 1025px) {
        max-width: 360px;
        margin-right: 8%;
        margin-bottom: 0px;
    }
}

// .implementError {
//     margin-top: 20px;
//     padding: 10px;
//     border-radius: 10px;
//     cursor: pointer;
// }

.hiddenInMobile {
    @media #{$mobile} {
        display: none;
    }
}

.aboutPage {
    .aboutPage__text {
        max-width: 422px;
        margin-top: 12px;
        line-height: 1.5;
    }
    .aboutPage__links {
        margin-top: 24px;
    }
    .aboutPage__btn {
        margin-top: 24px;
    }

    @media #{$notMobile} {
        position: sticky;
        top: 0px;
        transition: .6s;
        &--headerVisible {
            top: calc(80px + 48px); // 80 - высота header-а, 48 - margin у .articlesPage__container
        }
    }
}

.pageContent {
    flex: 2;

    .pageContent__articles {
        display: grid;
        grid-template-columns: minmax(min(100%, 300px), 500px);
        gap: 48px 24px;
        margin: 0px;
        padding: 0px;
        list-style: none;

        // .lastPostItem {
        //     background-color: red;
        // }

        .pageContent__itemOfArticle {
            overflow: hidden;
            // &--viewed {
            //     opacity: .3;
            // }
        }

        // .pageContent__itemOfArticle {
        //     flex-basis: calc(50% - 12px);

        //     &:nth-child(odd) {
        //         margin-right: 24px;
        //     }
        // }

        &--withGradientEffect {
            mask-image: linear-gradient(0deg, transparent, #000 400px);
        }
    }

    .pageContent__loadMore {
        margin-top: 32px;
        position: relative;
        height: 50px;
    }

    @media #{$mobile} {
        .pageContent__articles {
            .pageContent__itemOfArticle {
                &.hideInMobile {
                    display: none;
                }
            }
        }
    }

    @media #{$notMobile} {
        .pageContent__articles {
            grid-template-columns: repeat(2, minmax(200px, 360px));
            column-gap: 48px;
        }
    }

    @media (min-width: 1025px) {
        .pageContent__articles {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
        }
    }
}

.pageContent__scrollToTopBtn {
    margin-left: auto;

    .scrollProgress {
        right: 0;
    }
}